:root {
	--main-color: hsl(26, 100%, 50%);

	--brand-color-rgb: 49, 93, 158;

	--line-color: hsl(0, 0%, 92%);
	--grey-color: hsla(0, 1.42%, 75%, 1);
	--light-grey-color: hsla(210, 20%, 97%, 1);

	--cta-color: hsl(24, 8%, 12%);
	--highlight-color: hsl(0, 3%, 6%);

	--txt-color: #343434;
	--txt-color-theme-light: var(--txt-color);
	--txt-color-theme-dark: hsl(0, 100%, 100%);
	--txt-color-theme-custom: var(--txt-color);

	--link-color: var(--main-color);
	--link-color-content: var(--cta-color, var(--link-color));
	--heading-color: var(--main-color);
	--heading-color-theme-light: var(--main-color);
	--heading-color-theme-light: var(--txt-color);
	--heading-color-theme-dark: hsl(0, 100%, 100%);
	--heading-color-theme-custom: var(--heading-color);

	--bg-color-theme-light: #f7f5f0;
	--bg-color-theme-light-2: hsl(36, 24%, 96%);
	--bg-color-theme-light-3: white;

	--bg-color-theme-dark: hsl(0deg 0.33% 14.44%);
	--bg-color-theme-dark-2: var(--main-color);

	--bg-gradient-theme-dark: linear-gradient(174deg, rgba(21, 33, 46, 1) 0%, rgb(17, 32, 48) 100%);
	--bg-gradient-theme-dark: linear-gradient(174deg, rgba(21, 33, 46, 1) 0%, rgb(30, 65, 103) 100%);

	/* Buttons */
	--button-bg-color: var(--main-color);
	--button-border-color: var(--button-bg-color);
	--button-bg-color-hover: var(--main-color);
	--button-outline-bg-color: transparent;

	--button-txt-color: var(--main-color);
	--button-txt-color-hover: white;

	/* Tags */
	--tag-txt-color: var(--main-color);
	--tag-icon-color: hsl(120, 100%, 67%);
	--tag-bg-color: var(--main-color);
	--tag-bg-opacity: 20%;
	--header-tag-color: var(--main-color);

	/* Testimonials pagination dots */
	--testimonials-pagination-color: hsl(0, 0%, 80%);
	--testimonials-pagination-active-color: white;
}

.bg-transparent {
	background: transparent !important;
}

.bg-lighter {
	--lighter-color: white;
	background-color: hsl(0deg 0% 100% / 0.03) !important;
}

body {
	color: var(--theme-txt-color, var(--txt-color-theme-light));
}

p,
ul {
	color: var(--theme-txt-color, inherit);
}

h1,
h2,
h3,
h4 {
	@apply text-[var(--theme-heading-color,var(--heading-color))];
}

p,
h1,
h2,
h3 {
	em {
		color: var(--main-color);
	}
}

.header-tag {
	color: var(--header-tag-color, inherit);
}

figure figcaption {
	font-size: 0.8em;
	color: var(--theme-figcaption-color, inherit);
}

/*! THEME COLOR LIGHT */
.theme-color-light {
	--border-color: var(--heading-color-theme-light);
	--card-background: rgba(255, 255, 255, 1);

	--theme-txt-color: var(--txt-color-theme-light);
	--theme-heading-color: var(--heading-color-theme-light);
	--theme-figcaption-color: black;

	--button-bg-color: var(--main-color);
	--button-bg-color-hover: var(--highlight-color);
	--bg-color-outline: transparent;
	--button-txt-color: white;
	--button-txt-color-hover: white;
	--button-outline-txt-color: var(--main-color);

	--numberedColor: var(--theme-heading-color);
	--numberedColor: var(--main-color);

	/* --testimonials-pagination-color: var(--main-color);
	--testimonials-pagination-active-color: black; */
	--theme-tag-color: var(--tag-color, #343434);

	--list-icon-tic-color: var(--heading-color);

	&:is(.pct-card, section, .card, li) {
		background: var(--bg-color-theme-light);
	}

	.card-icon {
		p {
			@apply text-white/70;
		}
	}

	li {
		color: var(--theme-txt-color, inherit);
	}

	.wpcf7 span.wpcf7-not-valid-tip::after,
	.wpcf7-response-output::after {
		filter: none;
	}

	&.theme-color-white {
		--card-background: rgba(255, 255, 255, 1);

		&:is(.pct-card, section, .card) {
			background: white;
		}
	}
}

/*! THEME COLOR DARK */
.theme-color-dark {
	--border-color: var(--heading-color-theme-dark);
	--link-color: var(--main-color);
	--card-background: rgba(255, 255, 255, 0.0005);
	--card-border-color: rgba(255, 255, 255, 0.1);

	--theme-txt-color: var(--txt-color-theme-dark);
	--theme-heading-color: var(--heading-color-theme-dark);
	--theme-tag-color: var(--main-color);
	--theme-figcaption-color: inherit;

	--button-bg-color: white;
	--button-border-color: white;
	--button-bg-color-hover: var(--main-color);
	--bg-color-outline: transparent;
	--button-txt-color: var(--main-color);
	--button-txt-color-hover: white;

	--numberedColor: var(--main-color);

	background-color: var(--bg-color-theme-dark);

	&:is(.pct-card, section, .card) {
		background: var(--bg-color-theme-dark);
	}

	.header-default-bg {
		background-image: var(--bg-gradient-theme-dark) !important;
		background-color: var(--bg-color-theme-dark) !important;
	}

	h1,
	h2,
	h3,
	h4 {
		&.figure {
			color: var(--main-color) !important;
		}
	}

	p,
	ul {
		li::before {
			opacity: 0.3;
		}
	}

	.wpcf7 span.wpcf7-not-valid-tip::after,
	.wpcf7-response-output::after {
		filter: var(--form-error-validation-icon-filter);
	}

	.card:not(.transparent) {
		&.bordered {
			background: rgb(from var(--card-background) r g b / 0.05);
			> * {
				background: rgb(from var(--card-background) r g b / 0.1);
			}
		}
	}
}

:is(.bg-light-2) {
	background: var(--bg-color-theme-light-2) !important;
}

:is(.bg-light-3) {
	background: var(--bg-color-theme-light-3) !important;
}

:is(.bg-dark-2) {
	--button-bg-color-hover: var(--bg-color-theme-dark);
	--button-txt-color-hover: white;
	--numberedColor: var(--heading-color-theme-dark);
	--tag-txt-color: white;
	--tag-bg-color: black;

	background: var(--bg-color-theme-dark-2) !important;
}
