:root {
	--animation-fade-in: fade-in 0.5s var(--ease-3);
	--animation-fade-in-bloom: fade-in-bloom 2s var(--ease-3);
	--animation-fade-out: fade-out 0.5s var(--ease-3);
	--animation-fade-out-bloom: fade-out-bloom 2s var(--ease-3);
	--animation-scale-up: scale-up 0.5s var(--ease-3);
	--animation-scale-down: scale-down 0.5s var(--ease-3);
	--animation-slide-out-up: slide-out-up 0.5s var(--ease-3);
	--animation-slide-out-down: slide-out-down 0.5s var(--ease-3);
	--animation-slide-out-right: slide-out-right 0.5s var(--ease-3);
	--animation-slide-out-left: slide-out-left 0.5s var(--ease-3);
	--animation-slide-in-up: slide-in-up 0.5s var(--ease-3);
	--animation-slide-in-down: slide-in-down 0.5s var(--ease-3);
	--animation-slide-in-right: slide-in-right 0.5s var(--ease-3);
	--animation-slide-in-left: slide-in-left 0.5s var(--ease-3);
	--animation-shake-x: shake-x 0.75s var(--ease-out-5);
	--animation-shake-y: shake-y 0.75s var(--ease-out-5);
	--animation-shake-z: shake-z 1s var(--ease-in-out-3);
	--animation-spin: spin 2s linear infinite;
	--animation-ping: ping 5s var(--ease-out-3) infinite;
	--animation-blink: blink 1s var(--ease-out-3) infinite;
	--animation-float: float 3s var(--ease-in-out-3) infinite;
	--animation-bounce: bounce 2s var(--ease-squish-2) infinite;

	--ease-1: cubic-bezier(0.25, 0, 0.5, 1);
	--ease-2: cubic-bezier(0.25, 0, 0.4, 1);
	--ease-3: cubic-bezier(0.25, 0, 0.3, 1);
	--ease-out-1: cubic-bezier(0, 0, 0.75, 1);
	--ease-out-2: cubic-bezier(0, 0, 0.5, 1);
	--ease-out-3: cubic-bezier(0, 0, 0.3, 1);
	--ease-out-4: cubic-bezier(0, 0, 0.1, 1);
	--ease-out-5: cubic-bezier(0, 0, 0, 1);
	--ease-in-out-1: cubic-bezier(0.1, 0, 0.9, 1);
	--ease-in-out-2: cubic-bezier(0.3, 0, 0.7, 1);
	--ease-in-out-3: cubic-bezier(0.5, 0, 0.5, 1);
	--ease-in-out-4: cubic-bezier(0.7, 0, 0.3, 1);
	--ease-in-out-5: cubic-bezier(0.9, 0, 0.1, 1);
	--ease-squish-1: var(--ease-elastic-in-out-1);
	--ease-squish-2: var(--ease-elastic-in-out-2);
	--ease-squish-3: var(--ease-elastic-in-out-3);
}

@keyframes intro-gradient {
	0% {
		background-position: 300% 100%;
	}
	100% {
		background-position: 0% 100%;
	}
}

@keyframes ping {
	75%,
	100% {
		scale: 3;
		opacity: 0;
	}
	0% {
		scale: 1;
		opacity: 1;
	}
	100% {
		scale: 7;
		opacity: 0;
	}
}
@keyframes pulse {
	50% {
		opacity: 0.5;
	}
}

@keyframes fade-in-bloom {
	0% {
		filter: brightness(1) blur(20px);
		opacity: 0;
	}

	10% {
		filter: brightness(2) blur(10px);
		opacity: 1;
	}

	to {
		filter: brightness(1) blur(0);
		opacity: 1;
	}
}

@keyframes fade-out {
	to {
		opacity: 0;
	}
}

@keyframes fade-out-bloom {
	to {
		filter: brightness(1) blur(20px);
		opacity: 0;
	}

	10% {
		filter: brightness(2) blur(10px);
		opacity: 1;
	}

	0% {
		filter: brightness(1) blur(0);
		opacity: 1;
	}
}

@keyframes scale-up {
	to {
		transform: scale(1.25);
	}
}

@keyframes scale-down {
	to {
		transform: scale(0.75);
	}
}

@keyframes slide-out-up {
	to {
		transform: translateY(-100%);
	}
}

@keyframes slide-out-down {
	to {
		transform: translateY(100%);
	}
}

@keyframes slide-out-right {
	to {
		transform: translateX(100%);
	}
}

@keyframes slide-out-left {
	to {
		transform: translateX(-100%);
	}
}

@keyframes slide-in-up {
	0% {
		transform: translateY(100%);
	}
}

@keyframes slide-in-down {
	0% {
		transform: translateY(-100%);
	}
}

@keyframes slide-in-right {
	0% {
		transform: translateX(-100%);
	}
}

@keyframes slide-in-left {
	0% {
		transform: translateX(100%);
	}
}

@keyframes shake-x {
	0%,
	to {
		transform: translateX(0);
	}

	20% {
		transform: translateX(-5%);
	}

	40% {
		transform: translateX(5%);
	}

	60% {
		transform: translateX(-5%);
	}

	80% {
		transform: translateX(5%);
	}
}

@keyframes shake-y {
	0%,
	to {
		transform: translateY(0);
	}

	20% {
		transform: translateY(-5%);
	}

	40% {
		transform: translateY(5%);
	}

	60% {
		transform: translateY(-5%);
	}

	80% {
		transform: translateY(5%);
	}
}

@keyframes shake-z {
	0%,
	to {
		transform: rotate(0deg);
	}

	20% {
		transform: rotate(-2deg);
	}

	40% {
		transform: rotate(2deg);
	}

	60% {
		transform: rotate(-2deg);
	}

	80% {
		transform: rotate(2deg);
	}
}

@keyframes spin {
	to {
		transform: rotate(1turn);
	}
}

@keyframes blink {
	0%,
	to {
		opacity: 1;
	}

	50% {
		opacity: 0.5;
	}
}

@keyframes float {
	50% {
		transform: translateY(-25%);
	}
}

@keyframes bounce {
	25% {
		transform: translateY(-20%);
	}

	40% {
		transform: translateY(-3%);
	}

	0%,
	60%,
	to {
		transform: translateY(0);
	}
}

@keyframes pulse {
	50% {
		transform: scale(0.9);
	}
}

@keyframes slide-right {
	0% {
		transform: none;
	}
	50% {
		transform: translateX(100%);
	}

	50.1% {
		transform: translateX(-100%);
	}
	100% {
		transform: none;
	}
}
