.wp-block-buttons {
	/* gap: 2rem; */
	/* margin-top: 2rem; */
	padding-top: 2rem;
	column-gap: 2rem;
	row-gap: clamp(1rem, 2vw, 1.5rem);
}

.wp-element-button,
button#submit {
	scale: 1;
	background-color: var(--main-color);
	letter-spacing: 0px;
	/* text-transform: capitalize; */
	@apply !no-underline text-white py-[0.7ch] px-[2.5ch] shadow shadow-black/40 hover:shadow-lg hover:shadow-slate-700/40 rounded-[var(--button-border-radius)];
	font-size: clamp(1.1rem, 4vw, 1.3rem);
	/* text-transform: uppercase; */
	will-change: auto;
	transition: all 0.3s cubic-bezier(0.2, 1, 0.3, 1);
	&:hover {
		scale: 1.1;
		/* color: white; */
		background-color: var(--cta-color);
	}

	&:has(i.icon) {
		i.icon {
			margin-left: 1ex;
		}
	}
}

.outline {
	outline-style: none !important;
	.wp-element-button {
		background-color: transparent;
		border: 2px solid var(--main-color);
		color: var(--main-color) !important;

		&:hover {
			border-color: var(--cta-color);
			background-color: var(--cta-color);
			color: black !important;
		}
	}
}

.menu-bt {
	a {
		width: fit-content;
		margin-left: 1.5rem;
		padding: 0.2rem 1rem;
		/* &::before {
			@apply !bg-[var(--main-color)] hover:!bg-slate-900 hover:!text-white;
		} */

		&:hover {
			color: white;
			&::before {
				@apply !bg-slate-700;
			}
		}
		/* @apply hover:text-black; */
		&::before {
			@apply !bg-[var(--menu-item-hover-bg-color)] hover:!bg-white rounded-[var(--def-border-radius)] py-[.5rem] px-[3px];
		}
	}

	&.icon {
		a {
			display: grid !important;
			grid-template-columns: min-content auto;
			grid-gap: 5px;
			align-items: center;
			justify-content: center;

			&::after {
				grid-column: 1;
				grid-row: 1;
				content: "\f095";
				font-family: "pictauicons";
				color: currentColor;
				margin-top: 0.2ch;
			}
		}
	}
}

.above-header-wrap {
	.menu-bt {
		a {
			@apply text-white hover:!text-slate-800;
			&::before {
				@apply hover:!bg-white;
				/* @apply !bg-[var(--menu-item-hover-bg-color)] hover:!bg-white rounded-[var(--def-border-radius)] py-[.5rem] px-[3px]; */
			}
		}
	}
}

.main-header-wrap {
	.main-nav-desktop,
	.main-nav-mobile {
		.menu-bt {
			a {
				@apply text-white;
				&::before {
					@apply !bg-[var(--main-color)] hover:!bg-slate-700;
					/* @apply !bg-[var(--menu-item-hover-bg-color)] hover:!bg-white rounded-[var(--def-border-radius)] py-[.5rem] px-[3px]; */
				}
			}
		}
	}
}
