/**
 * THEME CUSTOMIZATION
 *
 * This will be applied after `layout.css`
 * Any customer / theme customization should go here (leave layout.css alone )
 *
 */

/*! CUSTOM THEMES  */

/* body.home {
	.slider .slider-cover:not(.block-editor-block-list__block) {
	}
} */

.max-w-980 {
	max-width: 980px !important;
}

.slider h1 {
	font-family: var(--txt-slider-heading);
	font-weight: 700;
	line-height: 1;
}

.entry-content {
	h1 {
		font-size: clamp(2rem, 8vw, 3.5rem);
		text-transform: uppercase;
		font-weight: 700;
		padding-bottom: clamp(1.4rem, 8vw, 2rem);
	}
}

.line-heading {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 4.3rem;

	h2 {
		font-size: clamp(1.2rem, 8vw, 1.85rem);
	}

	h1,
	h2,
	h3 {
		font-weight: bold;
		text-transform: uppercase;
		text-align: center;
		width: fit-content !important;
		background-color: var(--main-color);
		margin-bottom: 0 !important;
		z-index: 5;
		@apply px-[1.5ch];
	}

	&::before {
		content: "";
		display: block;
		width: 100%;
		height: 3.8px;
		background-color: var(--secondary-color);
		position: absolute;
		top: 50%;
		z-index: 1;
	}
}

.line-separator {
	--vertSpacing: calc(var(--def-layout-x-padding) * 2);
	display: block;
	width: 100%;
	height: 3.8px;
	background-color: var(--secondary-color);
	@apply mt-[var(--vertSpacing)];
}

ol {
	--padd-bottom: calc(var(--def-layout-x-padding) * 2);
	list-style: decimal;
	padding-left: calc(var(--def-layout-x-padding) * 2);
	@apply pt-[var(--def-layout-x-padding)] pb-[var(--padd-bottom)];
}

.theme-color-A {
	--border-color: var(--heading-color-theme-A);
	--border-color-dark: var(--heading-color-theme-A-dark);
	--link-color: white;

	@apply bg-[var(--main-color)];

	* {
		color: var(--txt-color-theme-A);
	}

	h1,
	h2,
	h3,
	h4,
	svg {
		@apply text-[var(--heading-color-theme-A)] dark:text-[var(--heading-color-theme-A-dark)];
	}

	/* background: var(--bg-color-theme-A); */
}

.theme-color-B {
	--border-color: var(--heading-color-theme-B);
	--border-color-dark: var(--heading-color-theme-B-dark);

	@apply bg-[var(--bg-color-theme-B)] dark:bg-[var(--bg-color-theme-B-dark)];
	h1,
	h2,
	h3,
	h4 {
		@apply text-[var(--heading-color-theme-B)] dark:text-[var(--heading-color-theme-B-dark)];
	}

	p {
		@apply text-[var(--txt-color-theme-B)] dark:text-[var(--txt-color-theme-B-dark)];
	}
}

.theme-color-white {
	@apply bg-[var(--bg-color-theme-white)] dark:bg-[var(--bg-color-theme-white-dark)];
	h1,
	h2 {
		@apply text-[var(--heading-color-theme-white)] dark:text-[var(--heading-color-theme-white-dark)];
	}
}

.pct-2cols-60-40 {
	--col-padding: 4.3rem;
	@apply !grid grid-cols-1 lg:grid-cols-[60%_1fr] gap-[var(--col-padding)];
	> * {
		width: 100% !important;
	}
}

#masthead {
	.main-nav-desktop,
	.main-nav-mobile {
		.menu-item,
		.social-icons {
			a {
				text-transform: uppercase;
				font-size: 1.25rem;
			}
		}

		.social-icons {
			/* gap: 1rem; */
			a {
				width: 40px;
				aspect-ratio: 1;
				display: flex;
				justify-content: center;
				align-items: center;
				background: var(--main-color);
				i {
					font-size: 1.25em;
				}
			}
		}
	}

	.main-header-wrap {
		--bg-color: rgba(255, 255, 255, 0.85);

		.main-nav-desktop-submenus-wrap {
			--paddTop: 1.8rem !important;
			.sub-menu-container {
				.sub-menu {
					background-color: var(--bg-color);
				}
			}
		}

		.main-nav-mobile {
			.primary-menu-wrapper {
				background-color: var(--bg-color);
			}
		}
	}

	.main-nav-desktop {
		.menu-item {
			a {
				font-size: clamp(1rem, 1.5vw, 1.25rem);
			}
		}
		.social-icons {
			transition: all 0.3s ease;
			padding-left: 2rem;
		}
	}

	.main-nav-mobile {
		.social-icons {
			padding-top: 1.7rem;
		}
		.menu-bt {
			margin-top: 1rem;
		}
	}
}

#masthead {
	> div {
		/* padding-top: 2.5rem !important; */
		@apply !pt-0 lg:!pt-[var(--desktop-space-top)];
	}
	.main-header-wrap {
		transition: all 0.3s ease;
		svg {
			transition: all 0.3s ease;
		}

		.main-nav-desktop-submenus-wrap {
			.submenu-custom {
				li,
				li a {
					font-weight: 400;
					font-size: 1.25rem;
					text-transform: uppercase;
				}

				a {
					position: relative;
					--bg-inset: 5px;
					&::after {
						content: "";
						display: block;
						position: absolute;
						inset: calc(var(--bg-inset) * -1);
						width: calc(100% + var(--bg-inset) * 2);
						height: calc(100% + var(--bg-inset) * 2);
						transition: all 0.3s ease;
						z-index: -1;
						@apply bg-white/0;
					}
					&:hover {
						&::after {
							@apply bg-white;
						}
					}
				}

				a:hover {
					color: var(--main-color);
					/* font-weight: 700; */
				}

				.submenu-parent {
					padding-left: 2ch;
					padding-bottom: 1ch;
					li,
					li a {
						text-transform: none;
					}
				}
			}
		}

		.main-header-content {
			transition: all 0.3s ease;
			.main-nav-desktop {
				.menu-item {
					a {
						transition: all 0.3s ease;
					}
				}
			}
		}
	}

	&.scrolledHeader {
		.main-header-wrap {
			color: white !important;
			.logo-brand {
				svg {
					width: var(--mobile-logo-brand-width);
					@apply py-[1rem];
				}
			}
			.main-header-content {
				height: var(--mobile-header-height) !important;
				.main-nav-desktop {
					.menu-item {
						a {
							font-size: 0.9rem;
							color: var(--main-color);
						}
					}
				}
			}
		}

		.main-nav-desktop {
			.social-icons {
				padding-left: 1.5rem;
				a {
					width: 30px;
				}
			}
		}
	}

	.menu-item {
		a {
			font-weight: 700;
		}
	}
}

.main-header-wrap {
	border: 0;
	background: var(--transparent-header-bg-color-light);
	.main-header-content {
		padding-left: 0 !important;
		@apply lg:!pr-[3.37rem];
		/* height: auto !important; */
		.logo-brand {
			@apply px-[1.5rem] lg:pl-[3.37rem] bg-[var(--main-color)] text-white;
			filter: none;
			svg {
				@apply lg:py-[1.75rem];
			}
		}
	}
	&.styled-by-section {
		.main-nav-desktop {
			.menu-item {
				a {
					color: white !important;
				}
			}
		}
	}
}

.main-nav-mobile {
	.mega-menu-content {
		display: flex !important;
		width: 100%;
		.pct-tile-area-logo {
			height: 26px;
		}
	}
}

/*! HOME SLIDER STYLES */
body.home,
body:has(.home) {
	.slider {
		> div:first-of-type {
			figure {
				@apply flex items-end pt-[3rem] md:pt-0;
			}
		}

		p {
			font-size: clamp(1rem, 5vw, 1.1rem);
		}
	}
}

/*! BACKGROUNDS GRADIENTS */

.bg-primary {
	background-image: var(--gradient-highlight-primary), var(--gradient-primary) !important;
}

/*! IMAGE FILTERS */

.filter-blue {
	filter: sepia(1) hue-rotate(172deg) saturate(2.5);
}

/*! CUSTOM ICON/IMG SIZES */

.media-size-120 {
	--media-dim: 120px;
	figure,
	img,
	svg {
		height: var(--media-dim) !important;
		width: var(--media-dim) !important;
		max-width: var(--media-dim) !important;
		max-height: var(--media-dim);
	}
}

/*? DELETE ME SCROLLTRIGGER TESTS */

.spacer {
	display: grid;
	place-items: center;
	height: 100vh;
	background-color: white;
}

.spacer:nth-child(even) {
	/* background-color: red; */
	border: 1px solid slategray;
}

.animated-element {
	width: 300px;
	color: white;
	padding: 20px;
	display: flex;
	flex-direction: column;
	background-color: #1dab74;
	border-radius: 8px;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
	position: relative;
	translate: -100%;
	/* left: -200%; */
}

h2 {
	margin: 0;
	padding: 0;
}

.test {
	display: flex;
	/* flex-wrap: wrap; */
	flex-flow: row;

	figure {
		display: inline-flex;
	}
}

.heading-falling-down {
	user-select: none;
	pointer-events: none;
	/* height: 100vh; */
	position: relative;
	display: grid;
	place-content: center;
	/* background-color: indigo; */
	margin-top: 6rem;

	&:has(figure) {
		display: flex;
		/* flex-wrap: nowrap; */
		flex-flow: row;
		/* align-items: center; */
		figure {
			@apply brightness-0 dark:brightness-100;
			display: inline-flex;
			img {
				object-fit: unset !important;
			}
		}
	}

	h2 {
		/* font-family: "Bebas Neue", Helvetica, Arial, sans-serif; */
		/* @apply text-[#110b34] dark:text-white; */
		font-kerning: none;
		/* user-select: none; */
		letter-spacing: clamp(0.1rem, 3vw, 1rem);
		font-size: clamp(2rem, 10vw, 12rem) !important;
		/* color: #110b34; */
		/* color: transparent; */
		/* -webkit-text-stroke: 3px white; */
	}
}

.square {
	width: 180px;
	height: 20vh;
	background-color: blue;
	z-index: 50;
	/* transition: all 1s ease; */
}

.blurchars {
	font-size: clamp(3rem, 8vw, 8rem);
	text-align: center;
}

[data-blur_chars="in"] {
	opacity: 0;
}

section.will-pin {
	display: flex;
	padding: 20vh 0;
	/* flex-flow: column;
	justify-content: center;
	height: 100vh; */
}

.test-anim-bg {
	height: 50vh;
	border: 1px solid black;
}

/* :has(> canvas.anim-bg) {
	width: 100%;
	height: 100%;
} */

canvas.anim-bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100% !important;
	height: 100% !important;
	max-width: unset !important;
	pointer-events: none;
	/* z-index: -1; */
}

/*! SLIDER VIDEO BACKGROUND */

.slider.has-video-bg {
	position: relative;
	color: white;
	h1 {
		font-size: clamp(3.2rem, 10vw, 9rem);
		color: white;
		text-align: center;
		margin-bottom: 0.2ch;
		opacity: 0;
		padding-bottom: 0;
		text-transform: none;
	}

	p {
		text-align: center;
	}

	.slider-cover:not(.block-editor-block-list__block) {
		display: block;
		position: absolute;
		/* opacity: 0; */
		inset: 0;
		background-color: black;
		max-width: unset !important;
		width: 100vw !important;
		height: 100vh;
	}
}

.mz-dot-char {
	--dot-color: var(--main-color);
	--dot-wave-width: 1px;
	position: relative;
	z-index: 3;
	display: inline-block;
	width: calc(1ch * 0.3);
	aspect-ratio: 1;
	margin-left: 0.1ch;

	/* background-color: currentColor; */
	background-color: var(--dot-color);
	border-radius: 9999px;

	&::before {
		content: "";
		position: absolute;
		display: block;
		width: calc(1ch * 0.3);
		aspect-ratio: 1;
		border: var(--dot-wave-width) solid var(--dot-color);
		border-radius: 9999px;
		animation: ping 2s ease-out infinite;
	}

	&::after {
		content: "";
		position: absolute;
		display: block;
		width: calc(1ch * 0.3);
		aspect-ratio: 1;
		border: var(--dot-wave-width) solid var(--dot-color);
		border-radius: 9999px;
		animation: ping 2s ease-out infinite 0.5s;
	}

	&.filled {
		&::before,
		&::after {
			background-color: var(--dot-color);
		}
	}
}

.wpcf7 {
	padding-top: 0;
	.pct-form-pasti {
		max-width: unset;
		width: 100%;

		textarea {
			min-height: 260px !important;
		}
	}
}

/*! SINGLE POSTS STYLES */

body.single-post {
	.post {
		.entry-content {
			padding: var(--default-section-vert-padding) 0;
		}
	}
}

body.single-webinar-ondemand,
body.single-ebook {
	.entry-header-content:has(.above-header) {
		display: flex;
		flex-flow: column;
	}

	.above-header {
		z-index: 5;

		figure {
			max-width: 150px;
		}
	}

	.above-header:not(:has(figure)) {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: fit-content;
		text-transform: uppercase;

		border: 1px solid white;

		@apply rounded-[999px] px-[1.3rem] py-[6px] border-white text-white mb-2;
	}

	.pct-2cols.has-webinar-request-form {
		> *:first-child {
			grid-row: 1 / 3;
		}

		> *:nth-child(2) {
			h3 {
				padding-top: 0;
			}
		}
	}

	.restricted-video {
		padding-top: calc(var(--default-section-vert-padding) * 0.5);
	}
}

:root.dark {
	card.fecha,
	.apply-header {
		--color: var(--main-color);
	}
}

.list-icons {
	margin-top: var(--def-layout-x-padding);
	display: flex;
	flex-flow: column;
	gap: 1.5rem;
	container-type: inline-size;
	container-name: li-icons;

	> * {
		display: grid;
		grid-template-columns: max-content 1fr;
		align-items: center;
		gap: 1rem;

		@apply bg-black/5 dark:bg-white/10 rounded-[var(--def-border-radius)] p-[1rem];

		/* @apply bg-yellow-600/50; */
		figure {
			max-width: unset;
			min-width: 40px;
			align-self: center;
		}

		> * {
			justify-content: flex-start;
			text-align: left !important;
			align-items: center;
			font-weight: 400;
		}

		h2,
		h3,
		h4 {
			padding-top: 0;
			font-size: clamp(1.3rem, 4vw, 1.4rem);
			line-height: 1.25;
			@apply text-black dark:text-white;
		}
	}
}

@container li-icons (width < 460px) {
	.li-item {
		grid-template-columns: 1fr;
	}
}

/* .pct-section > h2 {
	width: fit-content !important;
} */

[data-scrollhorizontal] {
	.horiz-scroll {
		margin-top: var(--def-layout-x-padding) !important;
		gap: 2rem;
		padding-right: var(--def-layout-x-padding);
		section {
			display: grid;
			grid-template-columns: 1fr var(--def-layout-x-padding);
			/* height: 100% !important; */

			> div {
				display: flex !important;
				height: 100% !important;
				padding: var(--def-layout-x-padding);
				@apply bg-white dark:bg-white/20 rounded-[var(--def-border-radius)];

				h4 {
					padding-top: 0;
					font-size: clamp(1.3rem, 5vw, 1.8rem);
					font-weight: bold;
					line-height: 1.1;
					margin-bottom: 1ch;
				}

				p {
					@media only screen and (max-width: px) {
					}
				}
			}

			&:last-of-type {
				margin-right: var(--def-layout-x-padding);
				/* background-color: red; */
			}
		}
	}
}

/*! ORDERED LISTS CUSTOM STYLES */
.ordered-list {
	padding-top: var(--def-layout-x-padding);
	/* --numSize: 1.5rem; */
	/* --numberedColor: var(--heading-color); */
	--numberedColor: var(--main-color-darker);
	--numberedBgColor: var(--main-color);
	--dim: 2rem;
	--padding: 1.5em;

	row-gap: calc(var(--dim) * 1.5);

	> * {
		align-items: center;
		p {
			margin-bottom: 0;
		}
	}

	> *::before {
		@apply bg-[var(--main-color)] text-[var(--numberedColor)];
	}
}

/*! FORM MULTI CHECKBOX */

.wpcf7:has(.multi-checkbox) {
	padding-top: 0;
}

.pct-form-pasti:has(.multi-checkbox) {
	max-width: unset;
}

.multi-checkbox {
	/* --form-field-border-color: var(--main-color-third);
	--form-field-focus-border-color: var(--link-color); */
	padding: calc(var(--def-layout-x-padding) * 0.5);
	@apply bg-white dark:bg-white/5 border-2 border-[var(--form-field-border-color)] dark:border-white/20 rounded-[var(--def-border-radius)];

	.group-title {
		display: block;
		font-weight: bold;
		padding-bottom: 1ch;
	}

	br {
		display: none !important;
	}

	> p {
		margin-bottom: 0;
	}

	.wpcf7-form-control-wrap {
		margin: 0 !important;
		.wpcf7-form-control.wpcf7-checkbox {
			display: flex;
			flex-flow: column;
			align-items: flex-start;
			gap: 0.5ch;
		}
	}

	.wpcf7-list-item {
		margin-left: 0;
		.wpcf7-list-item-label {
			font-size: 16px;
			line-height: 1.2;
		}
	}
}

/*! Left Pinned right scroller cards with image */

.grid-left-pinned-scroller {
	> div {
		&:not(:last-of-type) {
			margin-bottom: var(--default-section-vert-padding);
		}
		> figure {
			img {
				width: 100%;
			}
		}
		> .wp-block-group {
			padding: var(--def-layout-x-padding);
			p {
				font-size: 1.2em;
			}
		}
	}
}

[data-swiper] {
	.swiper-slide {
		border-radius: calc(var(--def-border-radius) * 2);
		overflow: clip;

		img {
			border-radius: unset !important;
			overflow: auto;
		}
	}

	.swiper-slide:has(svg) {
		display: grid;
		grid-template-columns: 1fr;

		> * {
			img {
				translate: 0 -2px;
			}
		}
	}
}

#top-menu {
	.social-icons {
		.social-item {
			i {
				font-size: 0.9rem;
			}
		}
	}
}

#footer {
	.footer-container .pct-section {
		padding-bottom: 0;
	}

	.footer-content {
		a {
			color: white !important;
		}

		ul {
			width: fit-content;
			li {
				font-size: 1rem;
				&:not(:last-child) {
					padding-bottom: 0.5ch;
				}
			}
			ul {
				padding-top: 0.5ch;
				list-style: initial;
				padding-left: 1.2ch;
			}

			&:not(:last-child):not(:nth-child(2)) {
				padding-bottom: 2rem;
			}
		}

		.container {
			container: footer-content;
			container-type: inline-size;
			display: grid;
			max-width: unset;

			.pct-cols-footer {
				display: grid;
				grid-template-columns: repeat(4, 1fr);
				column-gap: 2rem;
				/* width: fit-content; */
				img {
					max-width: 210px;
					width: 100%;
					filter: contrast(0) brightness(10.5);
				}
			}
		}
	}

	.social-icons {
		padding-top: 0.75rem;
		.social-item {
			padding: 0 0.3rem;
			i {
				font-size: 2em;
			}
		}
	}
}

@container footer-content (width < 1000px) {
	#footer .footer-content .container .pct-cols-footer {
		grid-template-columns: repeat(3, 1fr);
		figure {
			grid-column: 1 / -1;
			display: flex;
			/* align-items: center; */
			/* justify-content: center; */
			padding-bottom: var(--def-layout-x-padding);
		}
	}
}

@container footer-content (width < 838px) {
	#footer .footer-content .container .pct-cols-footer {
		grid-template-columns: repeat(2, 1fr);
	}
}

@container footer-content (width < 585px) {
	#footer .footer-content .container .pct-cols-footer {
		grid-template-columns: 1fr;

		ul {
			&:nth-of-type(2) {
				padding-top: 1ch;
			}
		}
	}
}

body.home .sections .pct-section#contacto {
	margin-bottom: calc((var(--default-section-vert-padding) + 50px) * -2);
}

#footer .copyright-container {
	@apply py-[3rem];
	/* margin-top: 3rem; */
	/* @apply bg-gradient-footer-3; */
	background: var(--main-color);

	.pct-copyright {
		align-items: flex-start;
		a {
			color: white !important;
		}
	}
}

.card-contact {
	h3 {
		padding-top: 0;
	}
	@apply text-[var(--txt-color)] bg-white rounded-[var(--def-border-radius)] p-[var(--card-padding)] shadow-card;
}

.contact-list {
	li:not(:last-of-type) {
		padding-bottom: 0.5rem;
	}

	/*! Links with ICONS automatically by href content */

	a:not(.social-item):not(.pictau-logo) {
		--col-gap: 1ch;
		@apply !text-[var(--txt-color)] hover:!text-[var(--main-color)];
		background: none !important;
		display: flex;
		column-gap: var(--col-gap);
		width: fit-content;
		&::before {
			display: flex;
			min-width: 2ch;
			justify-content: center;
			align-items: center;
			color: white;
			background-color: var(--main-color);
			border-radius: 50%;
			aspect-ratio: 1;
			height: fit-content;
			font-family: "pictauicons";
			font-size: 0.9rem;
		}

		&[href*="mailto:"] {
			&::before {
				content: "\f0e0";
			}
		}

		&[href*="tel:"] {
			&::before {
				content: "\f095";
			}
		}

		&[href*="/maps/place"] {
			&::before {
				content: "\f041";
			}
		}

		&[href*=".com"] {
			&::before {
				content: "\f0ac";
			}
		}
	}
}

/*! ORDERED (NUMBER) LIST */
.ordered-list {
	--numSize: 1rem;
	--numberedColor: white;
	--numberedBgColor: var(--main-color);
	--dim: 2em;
	--padding: 1.2em;
	--connectLineColor: var(--connectedcolor, var(--numberedBgColor));
}

/*! CUSTOM RESPONSIVE TABLES */

.pct-table {
	&.table-5cols {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		justify-content: center;
		align-items: center;
		gap: 0.2rem;

		.header {
			background-color: var(--main-color);
			color: white;
			font-weight: bold;
		}

		> * {
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 0.5rem;
			height: 100%;
			background-color: white;
			text-align: center;
		}
	}
}

.pct-table-resp {
	--gap: 0.2rem;
	margin: var(--def-layout-x-padding) 0;
	&.table-5cols {
		display: grid;
		grid-template-columns: 1fr;
		row-gap: var(--gap);

		.row {
			display: grid;
			grid-template-columns: repeat(5, 1fr);
			justify-content: center;
			align-items: center;
			gap: var(--gap);

			.data {
				display: flex;
				gap: var(--gap);
				height: 100%;
				> * {
					display: flex;
					align-items: center;
					justify-content: center;
					padding: 0.5rem;
					height: 100%;
					background-color: white;
					text-align: center;
					margin-bottom: 0;
				}

				.header {
					background-color: var(--main-color);
					color: white;
					font-weight: bold;
					min-height: 10ch;
				}

				&:first-of-type {
					:not(.header) {
						background: #ffc9cd;
						font-weight: bold;
					}
				}
			}

			&:not(:first-of-type) {
				.header {
					display: none;
				}
			}
		}
	}

	@media only screen and (max-width: 768px) {
		--gap: 0.5rem;
		.row {
			grid-template-columns: 1fr !important;

			&:not(:last-of-type) {
				margin-bottom: 3rem;
			}

			.data {
				gap: 0 !important;
				.header {
					min-height: unset !important;
				}

				&:first-of-type {
					:not(.header) {
						background: white !important;
					}
				}
			}

			&:not(:first-of-type) {
				.header {
					display: flex !important;
				}
			}
		}
	}
}

.pct-list-b {
	li {
		font-size: clamp(1.1rem, 5vw, 1.4rem);
	}
}

.header-default-bg {
	--heading-default-grad-bg: var(--main-color);
}

.entry-header {
	align-items: flex-start !important;
	min-height: unset !important;
	&.has-bg-img {
		padding-bottom: 0 !important;
		.entry-header-content {
			max-width: unset;
			width: 100vw;
			padding: 0;
			.header-hero {
				width: 100vw;
				left: calc(50% - 100vw * 0.5);
				padding-top: var(--desktop-space-top);
				img {
					object-fit: cover;
					width: 100%;
					max-height: var(--page-header-min-height);
				}
			}
		}
	}
}

.swiper-img-fade {
	margin-right: unset;
	margin-left: unset;

	.wp-block-group.swiper-wrapper {
		flex-direction: row !important;
		flex-wrap: nowrap !important;
		position: relative !important;

		figure {
			position: inherit;
			display: block;
			max-width: unset !important;
			img {
				vertical-align: unset !important;
				height: unset !important;
				width: unset !important;
			}
		}
	}
}

.solutions-grid {
	display: grid;
	/* grid-template-columns: repeat(auto-fit, minmax(auto, 352px)); */
	grid-template-columns: repeat(3, 1fr);

	&.cols-2 {
		max-width: 790px !important;
		grid-template-columns: repeat(2, 1fr);

		@media only screen and (max-width: 525px) {
			grid-template-columns: 1fr;
		}

		h3 {
			text-transform: uppercase;
		}
	}

	margin-top: calc(var(--def-layout-x-padding) * 2);
	justify-content: center;
	gap: 4rem;

	.solution-tile {
		display: flex;
		flex-flow: column;
		figure {
			overflow: hidden;
			border: solid 5.5px white;
			img {
				aspect-ratio: 1;
				object-fit: cover;
				scale: 1;
				transition: all 0.6s cubic-bezier(0.2, 1, 0.3, 1);
			}
		}
		h3 {
			text-align: center;
			font-weight: 700;
			font-size: clamp(1.2rem, 3.5vw, 1.9rem);
			padding-top: clamp(1rem, 5vw, 1.5rem);
		}

		&:hover {
			img {
				scale: 1.2;
			}
		}

		a {
			background-image: none !important;
			opacity: 1 !important;

			/* &:hover {
				background-image: none !important;
				opacity: 1 !important;
			} */
		}
	}

	@media only screen and (max-width: 700px) {
		grid-template-columns: repeat(2, 1fr);
	}

	@media only screen and (max-width: 525px) {
		grid-template-columns: 1fr;
		h3 {
			font-size: 2rem !important;
		}
	}
}

.hablamos {
	a {
		position: absolute;
		width: 100vw !important;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		top: 0;
		left: 0;
		max-width: unset !important;
		&:hover {
			h2 {
				scale: 1.2;
			}
		}
	}

	h2 {
		font-weight: 700;
		font-size: clamp(1.2rem, 8vw, 2.75rem);
		scale: 1;
		transition: all 0.6s cubic-bezier(0.2, 1, 0.3, 1);
	}
}

.bt-only-text {
	text-align: center;
	margin-top: 3.5rem;
	a {
		font-weight: 700;
		font-size: clamp(1.2rem, 8vw, 2rem);
		text-transform: uppercase;
		margin-top: 3rem;
		line-height: 1.6ch;
	}
}

.contact-card {
	display: flex;
	flex-flow: column;
	gap: var(--def-layout-x-padding);
	.section {
		color: var(--main-color);
		h3 {
			padding-top: 0;
			font-size: clamp(1.2rem, 8vw, 1.4rem);
			font-weight: 900;
			text-transform: uppercase;
		}

		p {
			font-size: clamp(1rem, 5vw, 1.2rem);
			margin-bottom: 0;
		}

		.tel-multiple {
			display: grid;
			grid-template-columns: min-content 1fr;
			column-gap: 0.5ch;

			p:first-child {
				grid-row: 1 / 3;
			}
		}

		.social-icons {
			padding-top: 1rem;
			/* gap: 1rem; */
			a {
				width: 76px;
				aspect-ratio: 1;
				display: flex;
				justify-content: center;
				align-items: center;
				background: var(--main-color);
				i {
					font-size: 3.5em;
				}
			}
		}
	}
}

/* ! SOLAR SENSE LANDING SPECIFIC STYLES ------------------------------------------------------------------------------   */

body.solar-sense {
	--desktop-space-top: 0px;
	@media only screen and (min-width: 1024px) {
		--logo-brand-width: 256px;
	}
	--desktop-header-height: 180px;
	--mobile-header-height: 66px;

	#masthead,
	#content {
		--main-color: #033046;
		--heading-color: var(--main-color);
		--transparent-header-bg-color-light: var(--main-color);
		--header-scrolled-color: var(--main-color);
		--def-font-family: var(--def-alternative-font-family) important;
		--def-heading-font-family: var(--def-heading-alternative-font-family) important;

		--whole-header-height: calc(var(--desktop-header-height) + var(--desktop-above-header-height) + var(--desktop-space-top));
		/* --whole-header-height: calc(var(--desktop-header-height) + var(--desktop-above-header-height)); */
		@media only screen and (max-width: 1024px) {
			--whole-header-height: calc(var(--mobile-header-height) + var(--mobile-above-header-height));
		}

		font-family: var(--def-alternative-font-family);

		h1,
		h2,
		h3 {
			font-family: var(--def-heading-alternative-font-family);
		}
	}

	.main-header-content {
		.logo-brand {
			@apply !px-[1.5rem];
		}

		.main-nav-desktop {
			padding-left: 130px;
		}
	}

	#masthead {
		#menu-switcher {
			span {
				background: white !important;
			}
		}

		&.scrolledHeader {
			--hover-bg-color: rgba(255, 255, 255, 0.18);

			.main-nav-desktop {
				.menu-item {
					a {
						color: white !important;
					}
				}
			}

			.main-nav-mobile {
				.primary-menu-wrapper {
					background-color: white;
				}
			}

			/* .menu-item {
				a {
					color: white !important;
				}
			} */
		}
	}

	.slider {
		.is-bg {
			background-color: var(--transparent-header-bg-color-light) !important;
			padding-top: var(--whole-header-height);
		}

		color: white;
		text-align: center;

		h1 {
			color: white;
			font-size: clamp(1.5rem, 8vw, 4.2rem);
			text-align: center;
			font-weight: 400;
			max-width: 735px;
			line-height: 1.1;
		}

		.horiz-separator {
			display: block;
			width: clamp(100px, 20vw, 200px);
			height: 2px;
			background-color: #fff;
			margin-right: 0;
			transform-origin: "left";
			margin: clamp(1rem, 5vw, 2.5rem) 0;
		}

		p {
			font-size: clamp(1rem, 3vw, 1.4rem);
		}
	}

	.slider-footer {
		position: absolute;
		bottom: 0;
		max-width: unset !important;
		width: 100vw !important;
		display: flex;
		flex-flow: column;
		/* background: white; */
		align-items: center;
		gap: 1.15rem;

		.triangle-down {
			width: 34px;
			height: 22px;
			background-color: white;
			clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
		}

		.green-rainbow {
			--dir: 180deg;

			width: 100vw;
			max-width: unset !important;
			height: 2.38rem;

			&.up-dir {
				--dir: 0deg;
			}

			background: linear-gradient(var(--dir), #7ba953, #7ba953 33.33%, #cbdb2a 33.33%, #cbdb2a 66.66%, #fff200 66.66%, #fff200);
		}
	}
}
