/**
 * THEME CUSTOMIZATION
 *
 * This will be applied after `layout.css`
 * Any customer / theme customization should go here (leave layout.css alone )
 *
 */

/*! CUSTOM THEMES  */

.main-header-content {
	.logo-brand {
		@media only screen and (max-width: 1023px) {
			translate: 0 0.7ch;
			#extended {
				display: none;
			}
		}
	}
}

.logo-brand {
	filter: none !important;

	svg {
		@media only screen and (max-width: 1270px) {
			--logo-brand-width: calc(var(--mobile-logo-brand-width) * 0.9);
		}
	}
}

.slider {
	h1 {
		/* font-family: var(--txt-slider-heading); */
		font-family: var(--def-heading-font-family);
		font-weight: 500;
		/* line-height: 1; */
	}
	.video-bg {
		filter: saturate(1.3);
	}
}

.theme-color-white {
	@apply bg-[var(--bg-color-theme-white)] dark:bg-[var(--bg-color-theme-white-dark)];
	h1,
	h2 {
		@apply text-[var(--heading-color-theme-white)] dark:text-[var(--heading-color-theme-white-dark)];
	}
}

/*! DEFAULT PAGE HEADER STYLES */
#main > article {
	header.entry-header {
		--paddV: calc(var(--def-layout-x-padding) * 2);

		.entry-header-content {
			h1.entry-title {
				font-size: clamp(2rem, 8vw, 3rem);
				text-align: center;
			}
		}

		.header-default-bg {
			&:has(.webgldots-container) {
				/* z-index: 99; */
				background-color: transparent !important;
			}

			.header-canvas {
				display: flex;
				align-items: flex-end;
				justify-content: center;
				.has-webgl {
					width: 80%;
					height: 60%;
					translate: 0 58%;
					opacity: 0.66;
				}
			}
		}
	}
}

/*! ICONS SVG WITH GRADIENT STROKES */
icon[class*="grad-"] {
	display: flex;
	width: 50px !important;
	margin: 0 !important;
	aspect-ratio: 1;
	mask-size: contain;
	margin-bottom: 0.33rem !important;

	&.grad-1 {
		background-image: var(--icon-gradient-1);
	}

	&.grad-2 {
		background-image: var(--icon-gradient-2);
	}

	&.grad-3 {
		background-image: var(--icon-gradient-3);
	}

	&.grad-4 {
		background-image: var(--icon-gradient-4);
	}

	&.grad-5 {
		background-image: var(--icon-gradient-5);
	}

	&.grad-6 {
		background-image: var(--icon-gradient-6);
	}

	mask-image: var(--icon-url); /* The icon */

	&.icon-automatizacion {
		--icon-url: url("/xen_media/automatizacion-b.svg");
	}

	&.icon-tiempo-real {
		--icon-url: url("/xen_media/tiempo-real.svg");
	}

	&.icon-conciliacion {
		--icon-url: url("/xen_media/conciliacion-b.svg");
	}

	&.icon-nodes {
		--icon-url: url("/xen_media/multi-erp.svg");
	}

	&.icon-escala {
		--icon-url: url("/xen_media/escalabilidad.svg");
	}

	&.icon-cloud-lock {
		--icon-url: url("/xen_media/cloud-lock.svg");
	}

	&.icon-clock-record {
		--icon-url: url("/xen_media/clock-record.svg");
	}

	&.icon-bell-plus {
		--icon-url: url("/xen_media/bell-plus.svg");
	}

	&.icon-sort-descending-small-big {
		--icon-url: url("/xen_media/sort-descending-small-big.svg");
	}

	&.icon-connection {
		--icon-url: url("/xen_media/connection.svg");
	}

	&.icon-credit-card {
		--icon-url: url("/xen_media/credit-card.svg");
	}

	&.icon-world-star {
		--icon-url: url("/xen_media/world-star.svg");
	}

	&.icon-timeline-event-text {
		--icon-url: url("/xen_media/timeline-event-text.svg");
	}

	&.icon-credit-card-refund {
		--icon-url: url("/xen_media/credit-card-refund.svg");
	}

	&.icon-chart-column {
		--icon-url: url("/xen_media/chart-column.svg");
	}

	&.icon-multiple {
		--icon-url: url("/xen_media/multiple.svg");
	}

	&.icon-list-details {
		--icon-url: url("/xen_media/list-details.svg");
	}

	&.icon-transfer-in {
		--icon-url: url("/xen_media/transfer-in.svg");
	}

	&.icon-bell-exclamation {
		--icon-url: url("/xen_media/bell-exclamation.svg");
	}

	&.icon-bell-ringing {
		--icon-url: url("/xen_media/bell-ringing.svg");
	}

	&.icon-automation {
		--icon-url: url("/xen_media/automation.svg");
	}

	&.icon-report {
		--icon-url: url("/xen_media/report.svg");
	}

	&.icon-a-b-test {
		--icon-url: url("/xen_media/a-b-test.svg");
	}

	&.icon-rotate-2 {
		--icon-url: url("/xen_media/rotate-2.svg");
	}

	&.icon-arrows-split-2 {
		--icon-url: url("/xen_media/arrows-split-2.svg");
	}

	&.icon-cash {
		--icon-url: url("/xen_media/cash.svg");
	}

	&.icon-layout-dashboard {
		--icon-url: url("/xen_media/layout-dashboard.svg");
	}

	&.icon-calendar-dollar {
		--icon-url: url("/xen_media/calendar-dollar.svg");
	}

	&.icon-coins {
		--icon-url: url("/xen_media/coins.svg");
	}

	&.icon-businessplan {
		--icon-url: url("/xen_media/businessplan.svg");
	}

	&.icon-text-shield {
		--icon-url: url("/xen_media/text-shield.svg");
	}

	&.icon-chart-bar {
		--icon-url: url("/xen_media/chart-bar.svg");
	}

	&.icon-shield-up {
		--icon-url: url("/xen_media/shield-up.svg");
	}

	&.icon-file-analytics {
		--icon-url: url("/xen_media/file-analytics.svg");
	}

	&.icon-dashboard {
		--icon-url: url("/xen_media/dashboard.svg");
	}

	&.icon-clock-cog {
		--icon-url: url("/xen_media/clock-cog.svg");
	}

	&.icon-chart-covariate {
		--icon-url: url("/xen_media/chart-covariate.svg");
	}

	&.icon-integration {
		--icon-url: url("/xen_media/integration.svg");
	}

	&.icon-settings-bolt {
		--icon-url: url("/xen_media/settings-bolt.svg");
	}

	&.icon-network {
		--icon-url: url("/xen_media/network.svg");
	}

	&.icon-barcode {
		--icon-url: url("/xen_media/barcode.svg");
	}

	&.icon-chart-histogram {
		--icon-url: url("/xen_media/chart-histogram.svg");
	}

	&.icon-total-connection {
		--icon-url: url("/xen_media/total-connection.svg");
	}

	&.icon-calendar-search {
		--icon-url: url("/xen_media/calendar-search.svg");
	}

	&.icon-brand-openai {
		--icon-url: url("/xen_media/brand-openai.svg");
	}

	&.icon-deviation {
		--icon-url: url("/xen_media/deviation.svg");
	}

	&.icon-robot {
		--icon-url: url("/xen_media/robot.svg");
	}

	&.icon-up-down {
		--icon-url: url("/xen_media/up-down.svg");
	}

	&.icon-plug-connected {
		--icon-url: url("/xen_media/plug-connected.svg");
	}

	&.icon-ajustes {
		--icon-url: url("/xen_media/ajustes.svg");
	}

	&.icon-users-plus {
		--icon-url: url("/xen_media/users-plus.svg");
	}

	&.icon-history-toggle {
		--icon-url: url("/xen_media/history-toggle.svg");
	}
}

/*! Header Navigation menu  */

.logo-brand {
	#extended,
	#logo {
		color: rgba(var(--brand-color-rgb), 1);
	}
	#description {
		color: black;
	}
}

#page {
	&:has(.transparent-header) {
		#masthead:not(.scrolledHeader) {
			.logo-brand {
				#description,
				#extended,
				#logo {
					color: white;
				}
			}
		}
	}
}

/*! MEGAMENUS CUSTOM STYLES */

.max-width-34em {
	max-width: 34em !important;
}

#masthead {
	.main-nav-desktop-submenus-wrap {
		.sub-menu:has(.megamenu) {
			background: transparent;
		}

		.megamenu {
			--bg-color-extra: var(--secondary-color);
			--bg-gradient: var(--gradient-footer);

			/* --bg-color-extra: rgb(from var(--main-color) r g b / 9%); */

			overflow: hidden;
			display: flex;
			flex-flow: column;
			/* max-width: min-content; */

			display: grid;
			grid-template-rows: 1fr auto;

			/* gap: 2rem; */

			> div {
				display: flex;
				flex-flow: row;
				gap: 1rem;
				background-color: var(--submenu-bg-color);
			}

			.grid-item-content {
				display: flex;
				gap: 0.5rem;
				z-index: 5;

				.item-content {
					h2,
					h3,
					.title {
						padding-top: 0;
						font-size: var(--nav-text-size);
					}
					p {
						font-size: calc(var(--nav-text-size) * 0.9);
						color: var(--submenu-text-description-color);
					}
				}
			}

			.item-list {
				display: flex;
				flex-flow: column;
				gap: 1rem;
			}

			h2 {
				color: var(--submenu-text-color);
				font-size: clamp(1rem, 5vw, 1.05rem);
				font-weight: 700;
				padding-bottom: 1rem;
				margin-bottom: 0 !important;
				line-height: 1.8ch !important;
			}

			p {
				font-size: 0.8rem;
				font-weight: 400;
				@apply text-white/60 my-0;
			}

			.mega-menu-item {
				--icon-dim: 45px;
				--icon-padd: 0.18rem;
				--inner-radius: calc(var(--min-border-radius) - var(--icon-padd));
				--stroke-width: 12px;
				--base-color: #0077d3;

				white-space: unset;
				text-wrap: unset;

				> a {
					display: flex;
					flex-flow: row;
					align-items: flex-start;
					gap: 1ch;

					&:not(.wp-element-button)::before {
						z-index: 0;
						--padd: 2ch;
					}

					&::before {
						border-top-left-radius: calc(var(--min-border-radius) + calc(var(--padd) * 0.2));
						border-bottom-left-radius: calc(var(--min-border-radius) + calc(var(--padd) * 0.2));
					}

					&:hover {
						.item-icon {
							svg {
								@apply rounded-[var(--inner-radius)] p-[var(--icon-padd)] text-[var(--main-color)];
							}
						}
						&::before {
							@apply bg-[var(--submenu-item-hover-bg-color)];
						}
					}
				}

				.item-icon {
					display: flex;
					justify-content: center;
					align-items: center;
					width: var(--icon-dim);
					height: var(--icon-dim);

					@apply rounded-[90%] bg-white p-[var(--icon-padd)];
					border: 2px solid rgba(255, 255, 255, 0.05);

					svg {
						width: calc(var(--icon-dim) - var(--icon-padd) * 4);
						height: calc(var(--icon-dim) - var(--icon-padd) * 4);
						transition: all 0.6s cubic-bezier(0.2, 1, 0.3, 1);
						* {
							stroke-width: var(--stroke-width);
						}

						@apply p-[var(--icon-padd)];
					}
				}

				.item-content {
					display: flex;
					flex-flow: column;
					justify-content: center;
					align-items: flex-start;

					h3 {
						color: var(--heading-color-theme-light);
						font-size: 0.87rem;
						font-weight: 600;
						line-height: 1.8ch !important;
						@apply my-0 py-0;
						white-space: nowrap;
					}

					&:has(.description) {
						max-width: 290px;
					}
				}
			}

			.extra {
				--padd: 1.5rem;

				/* background-color: var(--bg-color-extra); */
				/* background-color: rgb(from var(--bg-color-extra) r g b / 30%); */
				--base-color: #0077d3;
				background-color: rgb(from var(--base-color) r g b / 100%);
				background-image: var(--bg-gradient);

				--pattern-dim: 10;
				--pattern-color: var(--bg-secondary);

				@media only screen and (max-width: 1124px) {
					max-width: 250px;
				}
				/* justify-content: flex-end; */

				padding: 0;

				.is-bg-pattern {
					position: absolute;
					width: 100%;
					height: 100%;
					opacity: 0.3;
					/* background-image: var(--bg-pattern-cross); */
					background-image: var(--bg-pattern-cross-dark);
					mask-image: radial-gradient(80% 60% at 80% 80%, black, transparent);

					svg {
						#plus {
							width: 20px;
							height: 20px;
						}
					}
				}

				.content {
					padding: var(--padd);
					height: 100%;
					h2 {
						color: white;
						font-size: 1.4rem;
						letter-spacing: 0.05ch;
						padding-bottom: 0.5ch;
					}
					p {
						font-size: 1rem;
						max-width: 38rem;
					}
					/* display: flex;
					flex-flow: column;
					justify-content: flex-end;
					align-items: flex-end; */
				}
			}

			.mmenu-separator {
				display: flex;
				justify-content: flex-start;
				hr {
					display: flex;
					width: 1px;
					height: 100%;
					/* background-color: var(--nav-text-color); */
					background-color: var(--heading-color-theme-light);
					opacity: 0.075;
					border: 0;
					/* padding: 2rem 0; */
				}
				/* background: var(--cta-color); */
			}

			.mega-menu-container {
				display: grid;
				grid-template-columns: repeat(2, 1fr);
				column-gap: 3rem;
				row-gap: 1rem;
				padding: var(--card-padding);

				&:has(.mega-menu-item .description) {
					row-gap: 2rem;
				}

				.mega-menu-item {
					a {
						&::before {
							--padd: 1ch;
							--inset-y: 5px;
							--inset-x: -10px;
						}
					}
				}

				/*! MEGAMENU BY CATEGORY GROUPS */
				&.category-groups {
					display: flex;
					flex-flow: row;
					/* display: grid;
					grid-template-columns: repeat(4, 1fr); */

					column-gap: 2rem;
					padding: var(--card-padding);

					.category-group {
						display: flex;
						row-gap: 1ch;
					}

					.mega-menu-item {
						--icon-dim: 34px;
						--icon-padd: 0.1ch;
						--inner-radius: calc(var(--min-border-radius) - var(--icon-padd));

						a {
							&::before {
								--padd: 1ch;
								--inset-y: 2.5px;
								--inset-x: -5px;
							}
						}
					}

					.category-title {
						text-transform: uppercase;
					}

					@media only screen and (max-width: 1385px) {
						display: grid;
						row-gap: 4rem;
						grid-template-columns: repeat(5, auto);

						.mmenu-separator {
							width: fit-content;
							&:last-of-type {
								display: none;
							}
						}

						.category-group {
							&:last-of-type {
								display: grid;
								grid-template-columns: repeat(2, 1fr);

								> h2,
								> h3 {
									grid-column: 1 / -1;
								}

								grid-column: 1 / -1;
								width: fit-content;
								column-gap: 2rem;
							}
						}
					}
				}
			}

			&:has(.category-groups) {
				@media only screen and (min-width: 1385px) {
					@media only screen and (max-height: 796px) {
						.extra {
							display: none;
						}
					}
				}

				@media only screen and (max-width: 1384px) {
					@media only screen and (max-height: 976px) {
						.extra {
							display: none;
						}
					}
				}
			}

			.extra {
				max-width: unset;
				.content {
					padding: var(--padd) var(--card-padding) !important;
				}
			}
		}
	}
}

#masthead {
	.main-nav-desktop {
		.menu-item {
			@media only screen and (max-width: 1198px) {
				font-size: clamp(0.3rem, 1vw, 0.85rem);
			}
		}
	}
}

.main-nav-mobile {
	.grid-submenu-mobile {
		display: flex !important;
		width: 100%;
		gap: 0.75rem;
		.sub-menu-mobile-item {
			.grid-item-content {
				display: grid;
				grid-template-columns: min-content auto;
				align-items: center;
				gap: 0.5rem;

				.item-icon {
					--icon-dim: 22px;
					display: flex;
					align-items: center;
					width: var(--icon-dim);
					height: var(--icon-dim);
					aspect-ratio: 1;
				}
				.item-title {
					line-height: 1.15;
				}
			}
		}
	}
}

/*! SECTIONS SEPARATIONS - BORDERS */
.pct-section.separation-line {
	--line-dim: 1px;
	&::before,
	&::after {
		content: "";
		display: block;
		width: 100%;
		min-width: calc(var(--layout-max-width));
		max-width: 80%;

		@media only screen and (max-width: 1320px) {
			/* width: 50%; */
			max-width: calc(100% - 2 * var(--def-layout-x-padding));
			min-width: unset;
			/* max-width: calc(100% - 2 * var(--def-layout-x-padding)); */
		}

		margin: auto;
		height: var(--line-dim);
		@apply border-t-2 border-t-black dark:border-t-white;
	}

	&::before {
		padding-bottom: var(--default-section-vert-padding);
	}
	&::after {
		margin-top: var(--default-section-vert-padding);
	}

	&.full-width {
		> * {
			margin-left: auto !important;
			margin-right: auto !important;
		}
	}
}

/*! HOME SLIDER STYLES */
body.home,
body:has(.home) {
	.slider {
		> div:first-of-type {
			figure {
				@apply flex items-end;
			}
		}

		.full-height {
			@media only screen and (max-width: 767px) {
				height: auto;

				> div:first-of-type {
					/* display: none; */
					padding-bottom: var(--default-section-vert-padding);
				}
			}
		}

		p {
			font-size: clamp(1rem, 5vw, 1.1rem);
		}
	}
}

/*! BACKGROUNDS GRADIENTS */

.bg-primary {
	background-image: var(--gradient-highlight-primary), var(--gradient-primary) !important;
}

/*! IMAGE FILTERS */

.filter-blue {
	filter: sepia(1) hue-rotate(172deg) saturate(2.5);
}

/*! CUSTOM ICON/IMG SIZES */

.media-size-120 {
	--media-dim: 120px;
	figure,
	img,
	svg {
		height: var(--media-dim) !important;
		width: var(--media-dim) !important;
		max-width: var(--media-dim) !important;
		max-height: var(--media-dim);
	}
}

/*? DELETE ME SCROLLTRIGGER TESTS */

.spacer {
	display: grid;
	place-items: center;
	height: 100svh;
	background-color: white;
}

.spacer:nth-child(even) {
	/* background-color: red; */
	border: 1px solid slategray;
}

.animated-element {
	width: 300px;
	color: white;
	padding: 20px;
	display: flex;
	flex-direction: column;
	background-color: #1dab74;
	border-radius: 8px;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
	position: relative;
	translate: -100%;
	/* left: -200%; */
}

.blurchars {
	font-size: clamp(3rem, 8vw, 8rem);
	text-align: center;
}

[data-blur_chars="in"] {
	opacity: 0;
}

section.will-pin {
	display: flex;
	padding: 20vh 0;
	/* flex-flow: column;
	justify-content: center;
	height: 100vh; */
}

.test-anim-bg {
	height: 50vh;
	border: 1px solid black;
}

/* :has(> canvas.anim-bg) {
	width: 100%;
	height: 100%;
} */

canvas.anim-bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100% !important;
	height: 100% !important;
	max-width: unset !important;
	pointer-events: none;
	/* z-index: -1; */
}

.slider {
	.landing-slider {
		padding: min(var(--default-section-vert-padding), 6rem) 0;
	}
}

.slider:has(card.fecha) {
	card.fecha {
		--color: white;
	}
}

.solution-icon {
	--icon-dim: clamp(40px, 8vw, 70px);
	margin-bottom: calc(var(--icon-dim) * 0.2) !important;
	svg,
	img {
		width: var(--icon-dim) !important;
		height: var(--icon-dim) !important;
	}
}

:root.dark {
	card.fecha,
	.apply-header {
		--color: var(--main-color);
	}
}

.list-icons {
	margin-top: var(--def-layout-x-padding);
	display: flex;
	flex-flow: column;
	gap: 1.5rem;
	container-type: inline-size;
	container-name: li-icons;

	> * {
		display: grid;
		grid-template-columns: max-content 1fr;
		align-items: center;
		gap: 1rem;

		@apply bg-black/5 dark:bg-white/10 rounded-[var(--def-border-radius)] p-[1rem];

		/* @apply bg-yellow-600/50; */
		figure {
			max-width: unset;
			min-width: 40px;
			align-self: center;
		}

		> * {
			justify-content: flex-start;
			text-align: left !important;
			align-items: center;
			font-weight: 400;
		}

		h2,
		h3,
		h4 {
			padding-top: 0;
			font-size: clamp(1.3rem, 4vw, 1.4rem);
			line-height: 1.25;
			@apply text-black dark:text-white;
		}
	}
}

/* .pct-section > h2 {
	width: fit-content !important;
} */

[data-scrollhorizontal] {
	.horiz-scroll {
		--items-width: 950px;
		margin-top: var(--def-layout-x-padding) !important;
		gap: 2rem;
		padding-right: var(--def-layout-x-padding);
		section,
		.scroll-item {
			display: grid;
			grid-template-columns: 1fr var(--def-layout-x-padding);
			/* height: 100% !important; */

			> div {
				display: flex !important;
				height: 100% !important;
				padding: var(--def-layout-x-padding);
				@apply bg-white/10 rounded-[var(--def-border-radius)];

				h4 {
					padding-top: 0;
					font-size: clamp(1.3rem, 5vw, 1.8rem);
					font-weight: bold;
					line-height: 1.1;
					margin-bottom: 1ch;
				}
			}

			&:last-of-type {
				margin-right: var(--def-layout-x-padding);
				/* background-color: red; */
			}
		}

		.card-ordered-num {
			--dim: clamp(0.5rem, 3vw, 2rem);
			--numSize: clamp(1rem, 3vw, 1.5rem);
			--numberedColor: var(--main-color);
			/* --numberedBgColor: linear-gradient(135deg, rgb(48 55 62) 0%, rgb(0 82 64)); */
			--numberedBgColor: linear-gradient(135deg, rgb(0 82 64) 0%, rgb(48 55 62));
			--numberedBorderColor: var(--numberedColor);
			--min-height: 300px;

			display: flex;
			flex-flow: row;
			align-items: center;
			overflow: initial;
			min-height: var(--min-height);
			padding: 0 !important;
			border-top: 0;
			/* @apply border-t-[var(--line-color)]; */
			overflow: hidden;
			padding: var(--card-padding);
			border-radius: 0;
			background-color: unset;
			translate: calc(var(--dim) * -2);

			> div {
				display: flex;
				justify-content: center;
				background-color: rgb(255 255 255 / 0.1);
				border-radius: var(--def-border-radius);
				padding: calc(var(--def-layout-x-padding) * 0.5);
				padding-left: calc(var(--dim) * 0.5 + 2ch + calc(var(--def-layout-x-padding) * 0.5));
				height: 100%;
				z-index: 1;
			}

			&:nth-child(-n + 9) {
				&::before {
					content: counter(xx);
				}
			}

			&::before {
				z-index: 5;
				/* translate: calc(var(--dim) + calc(2ch) * 0.75) 0; */
				translate: 50% 0;
				margin-bottom: 0;
				background: var(--numberedBgColor);
				font-family: var(--def-heading-font-family);
				font-weight: bold;
				/* background-color: var(--main-color); */

				/* position: absolute;
				left: 0; */
			}
		}
	}
}

.pct-faqs.faqs-solution {
	max-width: var(--layout-max-width) !important;
	margin-top: calc(var(--default-section-vert-padding) * 0.75);
}

.pinned-col-right {
	--col-gap: var(--card-padding);
	gap: var(--card-padding);

	.col-pinned {
		padding-left: var(--col-gap);
		@apply border-l-2 border-l-[var(--border-color)] dark:border-l-[var(--border-color-dark)];

		@media only screen and (max-width: 768px) {
			@apply border-l-0;
			padding-left: 0;
		}
		/* border-left: 1px solid red; */

		.card:first-of-type {
			margin-top: 0;
		}

		.card:not(:last-of-type) {
			margin-bottom: var(--col-gap);
		}

		h3,
		h4 {
			padding-top: 0;
		}

		h3 {
			margin-bottom: 0 !important;
		}

		h4 {
			font-size: clamp(1.2rem, 5vw, 2rem);
			font-weight: 500;
		}
	}
}

/*! ORDERED LISTS CUSTOM STYLES */
.ordered-list {
	/* padding-top: calc(var(--def-layout-x-padding) * 0.5); */
	/* --numSize: 1.5rem; */
	/* --numberedColor: var(--heading-color); */
	--numberedColor: var(--main-color-darker);
	--numberedBgColor: var(--main-color);
	--dim: 2rem;
	--padding: 1.5em;

	row-gap: calc(var(--dim) * 1.5);

	> * {
		align-items: center;
	}

	> *::before {
		@apply bg-[var(--main-color)] text-[var(--numberedColor)];
	}
}

/*! FORM MULTI CHECKBOX */

.wpcf7:has(.multi-checkbox) {
	padding-top: 0;
}

.pct-form-pasti:has(.multi-checkbox) {
	max-width: unset;
}

.multi-checkbox {
	/* --form-field-border-color: var(--main-color-third);
	--form-field-focus-border-color: var(--link-color); */
	padding: calc(var(--def-layout-x-padding) * 0.5);
	@apply bg-white dark:bg-white/5 border-2 border-[var(--form-field-border-color)] dark:border-white/20 rounded-[var(--def-border-radius)];

	.group-title {
		display: block;
		font-weight: bold;
		padding-bottom: 1ch;
	}

	br {
		display: none !important;
	}

	> p {
		margin-bottom: 0;
	}

	.wpcf7-form-control-wrap {
		margin: 0 !important;
		.wpcf7-form-control.wpcf7-checkbox {
			display: flex;
			flex-flow: column;
			align-items: flex-start;
			gap: 0.5ch;
		}
	}

	.wpcf7-list-item {
		margin-left: 0;
		.wpcf7-list-item-label {
			font-size: 16px;
			line-height: 1.2;
		}
	}
}

/*! Left Pinned right scroller cards with image */

.grid-left-pinned-scroller {
	> div {
		&:not(:last-of-type) {
			margin-bottom: var(--default-section-vert-padding);
		}
		> figure {
			img {
				width: 100%;
			}
		}
		> .wp-block-group {
			padding: var(--def-layout-x-padding);
			p {
				font-size: 1.2em;
			}
		}
	}
}

.card.dev-languages {
	display: flex;
	flex-flow: row;
	flex-wrap: wrap;
	justify-content: center;
	gap: var(--card-padding);
	background-color: white;
	> figure {
		width: fit-content;
	}
}

.copyright-container {
	padding-bottom: calc(var(--default-section-vert-padding) * 0.75) !important;

	.social-icons {
		justify-content: flex-end;
		gap: 0rem;
		padding-bottom: 0.5rem;

		.social-item {
			padding: 0 0.3rem;
			i {
				font-size: 1.25rem;
			}
		}
	}
}

#top-menu {
	gap: 1rem;

	.social-icons {
		.social-item {
			i {
				font-size: 0.9rem;
			}
		}
	}
}

#footer {
	background-color: var(--secondary-color);
	background-image: var(--gradient-footer);
	--gap: 3rem;
	/* @apply bg-gradient-footer; */
	/* background: rgb(255, 0, 0); */
	.footer-container {
		/* container-type: inline-size;
		container-name: footer-container; */

		.footer-content {
			display: flex;
			justify-content: center;
			align-items: center;
			padding-top: var(--default-section-vert-padding);
			padding-bottom: 0 !important;

			.footer-cols-container {
				display: flex;
				gap: var(--gap);
				width: 100%;
				container-name: footer-cols;
				container-type: inline-size;
			}
			.footer-cols {
				display: grid;
				grid-template-columns: repeat(auto-fit, minmax(240px, auto));
				grid-auto-rows: minmax(0px, auto);
				/* grid-auto-flow: column;
				grid-auto-columns: minmax(240px, 1fr); */
				justify-content: center;
				gap: var(--gap);
				row-gap: calc(var(--gap) * 0.5);
			}

			.footer-col {
				margin-bottom: 1rem;
				> h3 {
					/* border-bottom: 1px solid var(--border-color); */
					border-bottom: 1px solid rgb(from var(--border-color) r g b / 75%);
					padding-bottom: 1.5ch;
					margin-bottom: 2ch !important;
					& ~ *:has(h3) {
						margin-bottom: 1.5ch;
						padding-bottom: 1.5rem;
						h3 {
							font-size: 1rem;
							text-transform: unset !important;
						}

						&:last-child {
							padding-bottom: 0;
							margin-bottom: 0;
						}
					}
				}

				&:first-of-type {
					grid-row: 1 / span 2;
					/* background: yellow; */
				}
			}

			.oficinas {
				display: flex;
				flex-flow: column;
			}

			.region-container {
				display: flex;
				flex-flow: column;
				row-gap: calc(var(--gap) * 0.75);
				/* max-width: 800px; */
				max-width: auto;
				width: 100%;
				align-self: center;

				background-color: rgba(255, 255, 255, 0.035);
				backdrop-filter: blur(10px);
				border-radius: var(--def-border-radius);
				padding: 2rem;
			}
			.region-items {
				display: flex;
				flex-flow: column;
				column-gap: var(--gap);

				> *:last-child {
					display: grid;
					grid-template-columns: repeat(auto-fit, minmax(200px, 200px));
					gap: var(--gap);
					row-gap: 0.75rem;
				}

				.location {
					@apply !text-white/80;
					margin-bottom: 0.5ch;
				}

				.region-item {
					padding-top: 0.75rem;
				}
			}

			h3 {
				padding-top: 0;
				font-size: 1.1rem;
				@apply text-white;
				text-transform: uppercase;
				font-weight: 500;
			}

			a,
			p {
				font-size: 0.775rem;
				@apply !text-white/50;
				letter-spacing: 0.3px;
			}
		}
	}
}

#footer .copyright-container {
	padding-top: calc(var(--default-section-vert-padding) * 1.75);
	.pct-copyright {
		display: flex;
		flex-flow: row;
		place-content: flex-start space-between !important;
		align-items: flex-start !important;
		/* justify-content: space-between; */

		.company-logo {
			> * {
				width: var(--logo-brand-width);
				height: auto;
				max-width: unset;
			}
		}

		a {
			color: white !important;
		}
	}

	.copy {
		@apply px-4;
		li {
			text-align: right;
		}
	}

	@media only screen and (max-width: 620px) {
		.pct-copyright {
			flex-flow: column;
			.copy {
				display: flex;
				flex-flow: column;
				align-items: flex-start;
				padding-left: 0;
				margin-top: 1rem;
				li {
					text-align: left;
				}
			}
		}
	}
}

.footer-col {
	&.certificates {
		container-type: inline-size;
		container-name: footer-certs;

		h3 + * {
			display: flex;
			gap: 1rem;

			figure {
				max-width: 140px;
				height: fit-content !important;
			}
		}
		/* grid-column-end: span 2;
		height: fit-content;

		display: flex;
		flex-flow: row !important;
		flex-wrap: wrap;
		gap: 1rem;
		figure {
			max-width: 140px;
			height: fit-content !important;
		}

		@container footer-cols (width < 530px) {
			grid-column-end: unset;
		} */
	}
}

.card-contact {
	h3 {
		padding-top: 0;
	}
	@apply text-[var(--txt-color)] bg-white rounded-[var(--def-border-radius)] p-[var(--card-padding)] shadow-card;
}

.contact-list {
	li:not(:last-of-type) {
		padding-bottom: 0.5rem;
	}

	/*! Links with ICONS automatically by href content */

	a:not(.social-item):not(.pictau-logo) {
		--col-gap: 1ch;
		@apply !text-[var(--txt-color)] hover:!text-[var(--main-color)];
		background: none !important;
		display: flex;
		column-gap: var(--col-gap);
		width: fit-content;
		&::before {
			display: flex;
			min-width: 2ch;
			justify-content: center;
			align-items: center;
			color: white;
			background-color: var(--main-color);
			border-radius: 50%;
			aspect-ratio: 1;
			height: fit-content;
			font-family: "pictauicons";
			font-size: 0.9rem;
		}

		&[href*="mailto:"] {
			&::before {
				content: "\f0e0";
			}
		}

		&[href*="tel:"] {
			&::before {
				content: "\f095";
			}
		}

		&[href*="/maps/place"] {
			&::before {
				content: "\f041";
			}
		}

		&[href*=".com"] {
			&::before {
				content: "\f0ac";
			}
		}
	}
}

/*! ORDERED (NUMBER) LIST */
.ordered-list {
	--numSize: 1rem;
	--numberedColor: white;
	--numberedBgColor: var(--main-color);
	--dim: 2em;
	--padding: 1.2em;
	--connectLineColor: var(--connectedcolor, var(--numberedBgColor));
}

/*! CUSTOM RESPONSIVE TABLES */

.pct-table {
	&.table-5cols {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		justify-content: center;
		align-items: center;
		gap: 0.2rem;

		.header {
			background-color: var(--main-color);
			color: white;
			font-weight: bold;
		}

		> * {
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 0.5rem;
			height: 100%;
			background-color: white;
			text-align: center;
		}
	}
}

.pct-table-resp {
	--gap: 0.2rem;
	margin: var(--def-layout-x-padding) 0;
	&.table-5cols {
		display: grid;
		grid-template-columns: 1fr;
		row-gap: var(--gap);

		.row {
			display: grid;
			grid-template-columns: repeat(5, 1fr);
			justify-content: center;
			align-items: center;
			gap: var(--gap);

			.data {
				display: flex;
				gap: var(--gap);
				height: 100%;
				> * {
					display: flex;
					align-items: center;
					justify-content: center;
					padding: 0.5rem;
					height: 100%;
					background-color: white;
					text-align: center;
					margin-bottom: 0;
				}

				.header {
					background-color: var(--main-color);
					color: white;
					font-weight: bold;
					min-height: 10ch;
				}

				&:first-of-type {
					:not(.header) {
						background: #ffc9cd;
						font-weight: bold;
					}
				}
			}

			&:not(:first-of-type) {
				.header {
					display: none;
				}
			}
		}
	}

	@media only screen and (max-width: 768px) {
		--gap: 0.5rem;
		.row {
			grid-template-columns: 1fr !important;

			&:not(:last-of-type) {
				margin-bottom: 3rem;
			}

			.data {
				gap: 0 !important;
				.header {
					min-height: unset !important;
				}

				&:first-of-type {
					:not(.header) {
						background: white !important;
					}
				}
			}

			&:not(:first-of-type) {
				.header {
					display: flex !important;
				}
			}
		}
	}
}

.pct-list-b {
	li {
		font-size: clamp(1.1rem, 5vw, 1.4rem);
	}
}

/*! TILES + CONTAINERS */

.media-container {
	@apply rounded-[var(--def-border-radius)] overflow-clip;
	background-color: rgb(0 0 0 / 0.75);
	/* backdrop-filter: blur(3px); */
	display: grid;
	/* place-content: center; */
	/* aspect-ratio: 16/9; */

	* {
		grid-area: 1 / 1;
		justify-self: center;
	}

	box-shadow: var(--box-shadow-pop);

	&.video-trigger {
		cursor: pointer;

		.has-play-ui {
			scale: 1;
			transition: scale 0.3s ease;
			z-index: 10;
		}

		.is-bg {
			z-index: 5;
		}

		&:hover {
			.has-play-ui {
				scale: 1.25;
			}
		}

		/* &:has(.is-provider-vimeo) {
			.is-provider-vimeo {
				display: none !important;
			}
		} */

		&.is-active {
			.is-bg,
			.has-play-ui {
				/* display: none; */
				opacity: 0;
				pointer-events: none;
			}
		}

		iframe {
			width: 100% !important;
			height: 100% !important;
			pointer-events: all !important;
		}
	}

	.has-pulsing-dot {
		--dim: 80px;
		--padd: calc(var(--dim) * 0.3);
		--color: var(--highlight-color);
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;

		* {
			z-index: 5;
		}

		&::before,
		&::after {
			content: "";
			display: block;
			position: absolute;
			width: var(--dim);
			height: var(--dim);
			border-radius: 50%;
			background-color: var(--color);
		}

		&::before {
			animation: ping-filled 2s ease-out infinite;
		}

		&::after {
			animation: ping-filled 2s ease-out infinite 0.5s;
		}
	}

	figure {
		/* display: unset !important; */
		position: relative;
		/* width: fit-content !important;
		height: fit-content !important; */
		justify-self: center;
		align-self: center;

		&.play-ui {
			/* --dim: 160px; */
			display: flex;
			width: var(--dim) !important;
			height: var(--dim) !important;
			background-color: var(--color);
			padding: var(--padd) !important;
			border-radius: 50%;
			justify-content: center;
			align-items: center;

			svg {
				color: white;
				justify-self: center;
				align-self: center;
				/* width: calc(var(--dim) * 1);
				height: calc(var(--dim) * 1); */

				/* background-color: var(--main-color);
 */
			}
		}

		&.is-type-video {
			width: 100% !important;
			height: 100% !important;
			padding: 0 !important;
			/* pointer-events: none; */

			display: block !important;

			> * {
				width: 100%;
				height: 100%;
			}
		}
	}

	p {
		@apply !my-0;
	}
}

/*! HEADERS */

.header-tag {
	display: flex;
	width: fit-content !important;
	/* margin-left: unset !important;
	margin-right: unset !important; */
	margin-bottom: 0.5ch !important;
	background-color: rgb(255 255 255 / 0.45);

	border-radius: var(--button-border-radius);
	border-radius: 6px;
	border: 1px solid rgba(255, 255, 255, 0.1);
	padding: 0.5ch 1.5ch;
	font-size: clamp(0.75rem, 2.5vw, 0.9rem);

	& + h3 {
		padding-top: 0.3ch;
	}

	&.glassy {
		border: 1px solid rgba(255, 255, 255, 0.1);
		background-color: rgb(255 255 255 / 0.1) !important;
		color: white !important;
	}
}

/*! PAGE HEADINGS */
.header-canvas {
	display: flex;
	height: 100%;
}

#main > article {
	header {
		&.entry-header {
			/* --paddV: calc(var(--def-layout-x-padding) * 0.75); */

			/* .header-default-bg {
				background: #15212e;
			} */
			.header-overlay {
				position: absolute;
				display: flex;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				background: var(--gradient-second-base);
			}

			h1 {
				text-shadow: none;
			}
		}
	}
}

.char-grad {
	.char {
		padding-bottom: 0.1ch;
		background-color: #cccccc;
		background-image: linear-gradient(180deg, #ffffff, #ffffff 50%, #ffffff00 67%);
		/* linear-gradient(45deg, #a163f1, #6363f1 22%, #3498ea 40%, #40dfa3 67%, rgba(64, 223, 163, 0)); */
		background-size: 100% 100%;
		background-repeat: no-repeat;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-clip: text;
	}
}

.slider-logos-container {
	@apply mt-[6rem];
	> p {
		text-align: center;
		margin-top: 0rem;

		/* font-size: 0.9rem !important; */
		/* opacity: 0.8;
		text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4); */
	}
}

#destacados {
	.os-window {
		max-width: 90%;
	}
}

.header-marker {
	--height: 10px;
	--long-width: 36px;
	--med-width: 18px;
	width: fit-content !important;
	padding-bottom: 0.7rem;

	display: flex;
	flex-flow: row;
	gap: calc(var(--height) * 0.5);

	> * {
		display: block;
		margin: 0 !important;
		@apply h-[var(--height)] !m-0;
		background-color: var(--main-color);
	}

	.marker-dot {
		@apply !w-[var(--height)]  rounded-xl;
	}

	.marker-dot-long {
		@apply !w-[var(--long-width)]  rounded-xl;
	}

	.marker-dot-med {
		@apply !w-[var(--med-width)]  rounded-xl;
	}
}

.destacados-grid {
	display: flex;
	gap: clamp(4rem, 16vw, 8rem);
}

.destacado-item {
	.os-window {
		@apply lg:!max-w-[85%] md:!max-w-[90%] sm:!max-w-full;
	}

	> *:has(.os-window) {
		@media only screen and (max-width: 1023px) {
			order: 2;
		}
	}
}

[data-pin] {
	&.pct-2cols {
		column-gap: calc(var(--card-padding) * 2) !important;
	}
}

.mmenu-footer {
	.brand {
		color: white;
		filter: invert(1);
		display: flex;
		justify-content: center;
		margin-bottom: 1.5rem !important;

		img {
			width: 180px;
		}
	}
}

/*! COUNTER AUTOINCREMENT ANIMATION */
.figures-grid {
	gap: 6rem;
}

.counter-item {
	.pct-counter {
		border-bottom-color: rgba(255, 255, 255, 0.3) !important;
		border-bottom-width: 2px !important;

		h2 {
			@apply !mx-[unset];
			padding-bottom: 0;
			margin-bottom: 0.7ch !important;
			font-weight: 500 !important;
			font-size: clamp(4rem, 8vw, 5rem) !important;
		}
	}

	p {
		font-size: clamp(1.2rem, 3vw, 1.6rem) !important;
		font-family: var(--def-heading-font-family);
		margin-top: 1.5ch !important;
	}
}

/*! EVENTS UI */
.no-monthly-events-message {
	display: none;
}

.events-ui {
	padding-top: 2rem !important;

	&:has(.no-events-found-current-month) {
		display: none;

		& + .no-monthly-events-message {
			display: flex;
		}
	}

	.step-number {
		background-color: var(--main-color);
	}

	:has(> .step-number) {
		margin-bottom: calc(var(--def-layout-x-padding) * 0.5) !important;
	}
}

/*! Eventos, ocultar categorías sin eventos */
.event {
	.toggle-ui {
		display: none;
		label {
			pointer-events: none;
		}
	}
}

.events-container {
	/* display: grid;
	grid-template-columns: repeat(2, 1fr); */
	gap: 1rem;
	margin: 2rem 0;

	.event-category {
		display: none;

		&:has(h3 + .description + .events-grid):not(:has(.category-empty)) {
			display: flex;
		}

		&.category-1 {
			--cat-color: 0, 115, 180;
		}
		&.category-2 {
			--cat-color: 69, 181, 134;
		}
		&.category-3 {
			--cat-color: 253, 163, 78;
		}
		&.category-4 {
			--cat-color: 231, 14, 79;
		}

		.description {
			font-size: 0.9rem;
			color: var(--submenu-text-description-color);
		}
	}

	.events-grid {
		--grid-gap: 1rem;
		margin-top: 2rem;
		container-type: inline-size;
		container-name: events-grid;
		/* display: grid;
		grid-template-columns: repeat(3, minmax(130px, 1fr)); */

		.container {
			display: flex;
			flex-flow: row;
			flex-wrap: wrap;
			gap: var(--grid-gap);
		}

		.event-item {
			flex-basis: calc(50% - var(--grid-gap) * 0.5);
			border-radius: calc(var(--card-border-radius) * 0.75);
			/* height: fit-content; */
			background-color: rgba(var(--cat-color), 0.1);
			border: 1px solid rgba(var(--cat-color), 0.3);
			cursor: pointer;

			.container {
				padding: 1rem;
				height: 100%;
			}

			&:hover {
				background-color: rgba(var(--cat-color), 0.2);
			}

			.toggle-ui {
				display: flex;
				.switcher:checked {
					& + label {
						background: rgba(var(--cat-color), 0.7);
					}
				}
			}

			&.expired {
				cursor: initial;
				pointer-events: none;
				opacity: 0.25;

				.toggle-ui {
					display: none;
				}
			}

			&.enrolled {
				background-color: rgba(var(--cat-color), 0.2);
			}
		}

		@container events-grid (width < 460px) {
			.event-item {
				flex-basis: 100%;
			}
		}
	}

	.item-list {
		&.expired {
			h3 {
				color: red;
			}
		}
	}

	.event {
		display: flex;
		width: 100%;

		header {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		.day-number {
			margin-bottom: 0 !important;
		}

		.day-wn-hour {
			font-size: 0.8rem;
			font-family: var(--def-heading-font-family);
			font-weight: 600;
		}

		.event-name {
			display: flex;
			font-size: 0.85rem;
			@apply bg-black/15;
			padding: 0.75rem;
			border-radius: 6px;
			margin-top: auto;
		}
	}

	.day-of-week {
		text-transform: capitalize;
	}
}

.step-instruction {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1ch;
	text-align: left;
	line-height: 1.2;

	.step-number {
		align-self: flex-start;
	}
}

.book-event-form {
	max-width: 600px !important;

	.wpcf7 {
		padding-top: 0;
		.pct-form-pasti {
			.wpcf7-form-control-wrap:first-of-type {
				margin-top: 0 !important;
			}
			.confirm-enrolled {
				margin-top: 1rem;
				/* margin-bottom: 2rem; */

				.enrolled-ui > .container,
				.no-events-selected-msg {
					@apply bg-white/5 rounded-[var(--form-field-border-radius)] mt-3;
					padding: calc(var(--card-padding) * 0.5);
				}
			}

			.legal-content {
				margin-top: 1.5rem;
			}
		}

		label {
			color: white;
		}
	}
}

.enrolled-ui {
	container-type: inline-size;
	container-name: enrolled-grid;
	@apply mt-3;

	.container {
		display: flex;
		flex-flow: row;
		flex-wrap: wrap;
		gap: 0.5rem;

		.event-item {
			flex-basis: 100%;
			@apply bg-black/15 rounded-[var(--form-field-border-radius)];
			/* padding: calc(var(--card-padding) * 0.25) calc(var(--card-padding) * 0.5); */
			border-radius: calc(var(--form-field-border-radius) * 0.5);

			.event {
				display: grid;
				grid-template-columns: auto 1fr;
				/* gap: 1ch; */

				> * {
					display: flex;
					align-items: center;
				}

				header {
					padding: calc(var(--card-padding) * 0.25) calc(var(--card-padding) * 0.5);
					@apply bg-black/15 justify-center;
					min-width: 95px;
				}

				h4,
				p {
					font-size: 0.8rem;
					margin-bottom: 0 !important;
				}
				.day-wn-hour {
					display: none;
				}
				.event-name {
					padding: calc(var(--card-padding) * 0.38) calc(var(--card-padding) * 0.25);
				}
			}
		}

		@apply !mt-0;
		&:empty {
			display: none;
		}
	}

	@container enrolled-grid (width < 460px) {
		.event-item {
			flex-basis: 100%;
		}
	}
}

.no-events-selected-msg p {
	font-size: 1rem;
}

/*! TESTIMONIALS SLIDER */
[data-testimonials] {
	.splide__slide {
		--bg-color: 10, 70, 90;
		--txt-color: 255, 255, 255;

		padding: var(--card-padding);
		border: 1px solid rgba(var(--bg-color), 1);
		border-radius: var(--card-border-radius);

		/* background: rgba(var(--bg-color), 0.3); */

		box-shadow:
			5px 5px 20px rgba(var(--bg-color), 0.05),
			5px 5px 20px rgba(var(--bg-color), 0.2);

		h2,
		h3,
		h4 {
			padding-top: 0;
		}

		@media only screen and (max-width: 520px) {
			h2,
			h3,
			h4 {
				font-size: clamp(1.2rem, 3vw, 1.6rem);
			}
			p {
				font-size: clamp(0.88rem, 3vw, 1rem);
				&.bigger {
					font-size: clamp(0.98rem, 3vw, 1.2rem);
				}
			}
		}
	}
}

/* .marquee:first-of-type {
	margin-top: 2rem;
} */

.marquee-slide {
	figure img {
		filter: brightness(0) saturate(100%) invert(31%) sepia(82%) saturate(626%) hue-rotate(180deg) brightness(75%) contrast(97%);
	}
}

/* body.home:has(.intro-mask) {
	.main-nav-desktop {
		transition: all 0.3s ease;
		opacity: 0;
		pointer-events: none;
	}
} */

.slider {
	> * {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	h1 {
		font-size: clamp(2.5rem, 12vw, 6rem) !important;
		font-family: var(--txt-slider-heading);
		font-weight: 700;
		padding-bottom: 0.25ch;
		/* line-height: 1.4ch; */
		letter-spacing: 0.005ch;
	}

	.content {
		.description {
			display: grid;
			grid-template-rows: 0fr;
			transition: grid-template-rows 0.3s ease;
			> * {
				overflow: hidden;
			}

			&.show {
				grid-template-rows: 1fr;
			}
		}
	}

	[data-video] {
		position: absolute;
	}

	.slider-content {
		display: flex;
		flex-flow: column;
		justify-content: center;
		align-items: center;
		gap: 1rem;
		width: 100vw !important;
		height: auto !important;
		max-width: unset;
		/* background: red; */
		padding: 2rem;
		@media only screen and (min-width: 769px) {
			width: auto !important;
		}

		.content {
			text-align: center;
		}
	}

	h2 {
		font-size: clamp(2.2rem, 8vw, 2.8rem) !important;
		line-height: 1.8ch;
	}
}

body.home .slider {
	--button-font-size: clamp(1rem, 3.5vw, 1.2rem);
	h1 {
		font-size: clamp(3rem, 8vw, 7rem) !important;
		font-weight: 600;
	}
	h2 {
		font-weight: 600;
	}
}

/*! SPECIFIC CPT GRID FOR HOME PAGE */
.cards-grid {
	.card-item {
		.card > * figure img {
			scale: 1;
			will-change: auto;
			transition: scale 0.6s cubic-bezier(0.2, 1, 0.3, 1);
		}
		&:hover {
			.card {
				> * {
					figure img {
						scale: 1.1;
					}
				}
			}
		}
	}
}

/*! SECTION HEADER ON 2 COLS */
.header-2cols {
	@apply !grid grid-cols-1 md:grid-cols-2 gap-[var(--card-padding)] gap-y-[calc(var(--card-padding)*3)];
	> * {
		width: 100% !important;
	}
}

.card-navigation {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	row-gap: 2ch;
	/* flex-flow: row nowrap; */
	align-items: center;
	padding-top: 1rem;

	.wp-block-buttons {
		/* width: unset !important; */
		/* flex-shrink: 0; */
		margin-left: 0 !important;
		width: fit-content !important;
	}

	& > *:last-child {
		margin-right: 0 !important;
	}
}

[id*="arrows-slider"] {
	display: flex;
	flex-flow: row nowrap;
	gap: 1rem;
	width: fit-content !important;
	margin-right: 1rem !important;
}

[data-testimonials].slider-soluciones {
	.splide__slide {
		--bg-color: var(--bg-color-theme-custom);
		/* background: var(--bg-color); */
		/* background: color-mix(in srgb, var(--bg-color), white 55%); */
		border: 1px solid rgba(0, 0, 0, 0.1) !important;

		/* min-height: 466px; */
		/* max-width: 420px !important; */

		/* @apply shadow-lg bg-white/50; */
		/* background-color: white; */
	}
}

a:has(.slider-card-icon) {
	padding: 0 !important;

	.slider-card-icon > div {
		transition: all 1s cubic-bezier(0.2, 1, 0.3, 1);
	}

	&:hover {
		.slider-card-icon > div {
			background: color-mix(in srgb, var(--bg-color), white 100%) !important;
			/* background: color-mix(in srgb, var(--bg-color), red 100%) !important; */
		}
	}
}

.slider-card-icon {
	--icon-dim: 2.15rem;
	padding: calc(var(--card-padding) * 0.66) !important;

	> div {
		height: 100%;
		display: flex;
		flex-flow: column;
		justify-content: space-between;

		> *:has(+ .cta-arrow) {
			margin-bottom: 2rem !important;
		}
	}

	.header {
		display: grid;
		/* grid-template-columns: repeat(2, 1fr); */
		grid-template-columns: auto min-content;
		align-items: flex-start;
		column-gap: 2rem;
		margin-bottom: 0.6rem;

		h3,
		h4 {
			align-self: center;
			margin-bottom: 0 !important;
		}

		.icon {
			display: flex;
			justify-content: flex-end;
			width: 100%;

			color: var(--heading-color-theme-custom);
			svg {
				width: var(--icon-dim);
				height: var(--icon-dim);
				* {
					stroke-width: 10px;
				}
			}
		}
	}

	h3 {
		font-size: clamp(1.75rem, 1.678rem + 0.36vw, 2rem);
	}

	.cta-arrow {
		margin-right: 0 !important;
		margin-top: auto !important;
	}
}

body.single-solucion {
	.landing-slider {
		row-gap: 4rem;
	}

	[data-webgldots] {
		padding-bottom: 4rem;
	}
}

#tech-list {
	.icon-card-pinned {
		figure {
			--icon-size: clamp(2rem, 5vw, 2.6rem);
			--icon-padding: calc(var(--icon-size) * 0.5);
			background: white;
			border-color: var(--card-border-color);
			border-width: 1px;
			margin-bottom: 0 !important;

			&.bordered {
				--border-padding: 0.4rem;

				/* background-color: transparent !important; */
				padding: var(--border-padding);
				background-color: rgb(from var(--card-background) r g b / 25%);
				backdrop-filter: blur(1.5px);

				> * {
					/* padding: var(--card-padding); */
					padding: var(--icon-padding);
					width: calc(var(--icon-size) * 2);
					height: calc(var(--icon-size) * 2);

					background: var(--card-background, white);
					border-radius: calc(max(var(--card-border-radius) - var(--border-padding), 0.25rem));
					border: var(--card-border-width) solid var(--card-border-color);
				}
			}
		}

		h3 {
			margin-top: calc(var(--card-padding) * 0.5) !important;
		}

		/* .ms-icons {
			display: flex;
			flex-flow: row wrap;
			gap: calc(var(--card-padding) * 0.5);
		} */
	}
}

.ms-icons {
	display: flex;
	flex-flow: row wrap;
	gap: calc(var(--card-padding) * 0.5);
	> * {
		width: fit-content !important;
		margin-left: 0 !important;
		margin-right: 0 !important;
	}
}

.ms-icon-text-inline {
	--dim: 2rem;
	display: grid;
	grid-template-columns: min-content 1fr;
	gap: 2ch;
	margin-top: 1rem;
	figure {
		padding: 0.5rem;
		height: fit-content !important;
		width: fit-content !important;
		img,
		svg {
			width: var(--dim) !important;
			height: var(--dim) !important;
		}
	}
}

figure {
	&.bordered {
		--border-radius: var(--card-border-radius);
		--border-padding: 0.4rem;
		/* --border-radius: calc(var(--card-border-radius) - var(--border-padding)); */
		/* background-color: transparent !important; */
		padding: var(--border-padding);
		border-radius: var(--border-radius);
		background-color: rgb(from var(--card-background) r g b / 25%);
		backdrop-filter: blur(1.5px);

		> * {
			/* padding: var(--card-padding); */
			padding: var(--icon-padding);
			width: calc(var(--icon-size) * 2);
			height: calc(var(--icon-size) * 2);

			background: var(--card-background, white);
			border-radius: calc(max(var(--card-border-radius) - var(--border-padding), 0.25rem));
			border: var(--card-border-width) solid var(--card-border-color);
		}
	}
}

.price-table {
	.icon {
		--icon-size: 2.2rem;
		--icon-padding: calc(var(--icon-size) * 0.25);
		color: rgba(var(--brand-color-rgb), 1);

		align-self: flex-start;
		/* width: fit-content !important;
		aspect-ratio: 1 / 1; */
		> svg,
		img {
			width: calc(var(--icon-size) + var(--icon-padding) * 2);
			height: calc(var(--icon-size) + var(--icon-padding) * 2);

			padding: var(--icon-padding);
			background-color: rgb(from var(--card-background) r g b / 100%);
			border-radius: 8px;
			border: 1px solid var(--card-border-color);
			* {
				stroke-width: 10;
			}
		}
	}

	.header-icon {
		container-type: inline-size;
		container-name: header-icon;

		> * {
			display: grid;
			grid-template-columns: auto min-content;
			align-items: center;
			column-gap: 2rem;
			margin-bottom: 0.6rem;
		}

		@container header-icon (width < 295px) {
			> * {
				grid-template-columns: 1fr;
				row-gap: 0.5rem;
				figure {
					order: -1;
				}
			}
		}
	}

	.icon + h3 {
		margin-top: 1ch !important;
		padding-bottom: 1ch !important;
		margin-bottom: 0 !important;
	}

	ul {
		padding-left: calc(2ch + 0.5rem) !important;
		row-gap: 2ch !important;
	}

	&.ordered-num {
		--row-gap: var(--column-gap);
		.card {
			@apply shadow-md;
		}
		.card > * {
			padding: 0 !important;
			> * {
				padding: var(--card-padding) !important;
			}
		}
		.counter {
			--dim: 2.2rem;
			--padd: calc(var(--dim) * 0.5);
			border: 1px solid var(--card-border-color);
			border-radius: 8px;
			display: flex;
			justify-content: center;
			align-items: center;
			width: var(--dim);
			height: var(--dim);
			padding: var(--padd);
			font-weight: 600;
			font-size: 1.1rem;
			background: var(--main-color);
			color: white !important;
		}
		.header-icon {
			flex-grow: 1;
		}
		.meta-content {
			@apply bg-blue-300/15;
			padding: calc(var(--card-padding) * 0.5);
			border-radius: calc(var(--card-border-radius) * 0.5);
			border-top-left-radius: 0;
			border-top-right-radius: 0;
		}
		h3 {
			font-size: clamp(1.2rem, 3vw, 1.5rem) !important;
		}
	}
}

/*! CUSTOM LOGOS GRID (no filter) */
.logos-grid {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	gap: 2rem !important;

	figure {
		/* background-color: transparent !important; */
		background-color: white !important;
		img {
			filter: brightness(0) saturate(100%) invert(31%) sepia(82%) saturate(626%) hue-rotate(180deg) brightness(95%) contrast(97%);
			opacity: 1;
		}
	}
}

[data-marquee] {
	.item {
		img {
			height: 40px;
		}
	}
}

/*! SPECIAL CASES: REMOVE FOR THEME BASE  */
body.home {
	h2.wp-block-heading + .blog-section {
		padding-top: calc(var(--default-section-vert-padding) * 0.5);
	}
}

/*! CASOS ÉXITO */

/* CASOS ÉXITO archive page */
.casos-exito {
	.casos-exito-grid {
		display: flex;
		flex-flow: column;
		row-gap: calc(var(--card-padding) * 2);
		.caso-exito-item {
			figure {
				border-radius: var(--def-border-radius);
				overflow: clip;
				img {
					width: 100%;
					object-fit: cover;
				}
			}
		}
	}
}

/* CASOS ÉXITO single page */
body.single-caso-exito {
	.caso-exito-item {
		.no-video-img {
			margin-top: var(--card-padding) !important;
			img {
				width: 100%;
				border-radius: var(--def-border-radius);
				object-fit: cover;
				aspect-ratio: 16/9;
				object-position: center;
			}
		}

		.media {
			margin-top: var(--card-padding) !important;
		}

		.company-description {
			margin-bottom: calc(var(--def-layout-x-padding) * 0.5);
		}
	}
}

card.company {
	display: flex;
	background: rgba(0, 0, 0, 0.33);
	/* margin: calc(var(--def-layout-x-padding) * 1) 0; */
	margin: var(--card-padding) 0;
	padding: var(--card-padding);
	> * {
		width: 100%;
		container-name: kpis-grid;
		container-type: inline-size;
	}
	.company-logo {
		display: flex;
		justify-content: center;
		filter: brightness(0) saturate(100%) invert(31%) sepia(82%) saturate(626%) hue-rotate(180deg) brightness(95%) contrast(97%);
	}

	.caso-exito-kpis {
		/* display: grid;
		grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); */
		display: flex;
		flex-flow: column;
		row-gap: 1rem;
		margin-top: 2rem;

		.kpi {
			--padd: 1rem;
			border-radius: 4px;
			overflow: clip;
			display: flex;
			flex-flow: row nowrap;
			border: 1px solid var(--card-border-color);

			> * {
				padding: var(--padd);
			}

			svg {
				width: 30px;
				height: 30px;
				flex-shrink: 0;
				color: var(--heading-color-theme-light);
			}

			h3 {
				font-size: clamp(1.1rem, 4vw, 1.3rem);
				margin-bottom: 0 !important;
			}

			.header {
				display: flex;
				flex-flow: column;
				align-items: center;
				justify-content: center;
				gap: 0.5rem;
				@apply bg-slate-700/10;
				> * {
					margin: 0 !important;
				}
				min-width: 187px;
				/* border-radius: 4px; */
			}

			.kpi-description {
				display: flex;
				flex-flow: column;
				justify-content: center;
				align-items: center;
				width: 100%;
				@apply bg-slate-400/5;

				> * {
					text-align: center;
				}

				p {
					margin: 0 !important;
				}
			}
		}
	}

	@container kpis-grid (width <= 540px) {
		.caso-exito-kpis {
			row-gap: 2rem;
			.kpi {
				flex-flow: column;
			}
		}
	}
}

.caso-exito-keys {
	li {
		font-size: 1.15em;
	}
}

.testimonial {
	/* padding: var(--card-padding); */
	margin-top: var(--card-padding);
	padding-bottom: 2rem;
	quote {
		display: block;
		@apply bg-white/75;
		padding: var(--card-padding);
		border-radius: var(--def-border-radius);

		p,
		&::before,
		&::after {
			font-size: clamp(1.1em, 2vw, 1.6em);
			font-weight: 200;
			font-style: italic;
			display: inline;
		}

		&::before {
			content: '"';
		}
		&::after {
			content: '"';
		}
	}

	.signature {
		padding: 1rem 0;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
		gap: 2ex;
		> span {
			display: inline-flex;
			width: fit-content;
			font-size: 1.2em;
			@apply text-black/50 dark:text-white/50;
			&:last-of-type {
				@apply bg-slate-700/5 px-[1ex] py-[0.5ex] rounded-[6px];
			}
		}
	}
}

.trusted-on-us {
	@apply bg-slate-800/50 rounded-[var(--card-border-radius)] p-[var(--card-padding)];
	/* @apply pt-0 md:pt-[var(--card-padding)]; */
	h2,
	h3 {
		padding-top: 0;
		text-align: center;
		padding-bottom: clamp(1.4rem, 4vw, 1.8rem);
	}
}

.event-tecnologies {
	@apply !bg-slate-800/50 rounded-[var(--card-border-radius)] p-[var(--card-padding)];
	/* @apply pt-0 md:pt-[var(--card-padding)]; */
	h2,
	h3 {
		padding-top: 0;
		text-align: center;
		padding-bottom: clamp(1.4rem, 4vw, 1.8rem);
	}
	.event-tech-logos {
		display: flex;
		row-gap: 2rem;
		justify-content: center;
		align-items: center;
		figure {
			display: flex;
			justify-content: center;
		}
	}
}

.logos-rows {
	display: flex;
	flex-flow: column;
	gap: 2rem;
	> * {
		@apply bg-white/5 rounded-[var(--card-border-radius)] p-4;
		display: flex;
		align-items: center;
		justify-content: center;

		img,
		svg {
			width: auto;
			height: 60px;
			object-fit: contain;
		}
	}
}

.contact-card {
	.logo-brand {
		max-width: 320px !important;
		margin: 0 !important;
	}

	.contact-info {
		@apply bg-slate-400/5 border border-slate-400/20 rounded-[var(--card-border-radius)] p-[var(--card-padding)];
		> * {
			font-size: clamp(1rem, 1vw, 1.2rem);
		}
	}
}

.has-webgl.webgl-dots-left-top:has(.media-container) .webgl-dots {
	translate: 0% -33%;
}

/* Eventos, grid ponentes */
.grid-ponentes {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
	gap: 1rem;
}

/*! Home Events Card */
.home-event-list {
	display: flex;
	flex-flow: column;
	gap: var(--card-padding);
	align-items: center;
}

.next-event-card {
	display: flex !important;
	flex-flow: row nowrap;
	max-width: 1076px;
	/* row-gap: var(--card-padding); */

	@media only screen and (max-width: 800px) {
		flex-flow: column nowrap;
		max-width: 500px;
		.description {
			padding: var(--card-padding) !important;
		}
	}

	border-radius: var(--card-border-radius);
	overflow: clip;
	@apply bg-blue-300/10 shadow-lg;
	/* border: 1px solid var(--ui-color); */
	/* gap: calc(var(--card-padding) * 0.5); */

	* {
		display: flex;
		width: fit-content !important;
		margin-left: 0 !important;
		margin-right: 0 !important;
	}
	.event-thumb {
		aspect-ratio: 1/1;
	}

	.hero-img {
		figure {
			width: auto;
			height: 100%;
			aspect-ratio: 1/1;
			max-width: 780px;
		}
	}

	.description {
		padding: calc(var(--card-padding) * 0.5) var(--card-padding);
		h2,
		h3 {
			padding-top: 0;
		}
	}

	.event-link {
		padding-bottom: 0 !important;
	}
}

body.single-ebook {
	.ebook-cover {
		figure {
			border-radius: var(--def-border-radius);
			overflow: clip;
			img {
				width: 100%;
				height: auto;
				object-fit: contain;
			}
		}
	}

	#lead-from {
		height: fit-content;
	}
}

.above-header.header-tag {
	font-size: 1.2em;
}

/* .above-header:not(:has(figure)) {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: fit-content;
	text-transform: uppercase;

	border: 1px solid white;

	@apply rounded-[999px] px-[1.3rem] py-[6px] border-white text-white mb-2;
} */

/*! Styles for chatbot plugin AI Engine by Meow */

.mwai-timer {
	font-size: 1rem !important;
	margin-right: 0 !important;
}

#mwai-chatbot-default {
	display: none !important;
}

.mwai-chatbot-container:has(.mwai-open-button) {
	position: fixed !important;
	z-index: 999748364;
}

.mwai-window-box {
	--mwai-fontSize: 1rem !important;

	.mwai-body {
		overscroll-behavior: contain;
		touch-action: pan-y;
		scrollbar-width: thin;
		max-height: calc(100vh - 160px); /* Puedes ajustar */
	}
}

.mwai-conversation {
	text-align: left !important;
}

.chatbot-header-subtitle {
	font-weight: 400 !important;
}

.chatbot-header-ai_name {
	font-size: 1.2rem !important;
	font-weight: 400 !important;
}

.chatbot-inline {
	--link-color: hsl(206, 100%, 70%) !important;
	.mwai-reply {
		p,
		ul {
			color: var(--mwai-fontColor) !important;
		}
	}
}
