/**
 * THEME CUSTOMIZATION
 *
 * This will be applied after `layout.css`
 * Any customer / theme customization should go here (leave layout.css alone )
 *
 */

/*! CUSTOM THEMES  */

/* body.home {
	.slider .slider-cover:not(.block-editor-block-list__block) {
	}
} */

.slider h1 {
	font-family: var(--txt-slider-heading);
	font-weight: 700;
	line-height: 1;
}

.theme-color-A {
	--border-color: var(--heading-color-theme-A);
	--border-color-dark: var(--heading-color-theme-A-dark);

	@apply bg-[var(--main-color)];

	* {
		color: var(--txt-color-theme-A);
	}

	h1,
	h2,
	h3,
	h4,
	svg {
		@apply text-[var(--heading-color-theme-A)] dark:text-[var(--heading-color-theme-A-dark)];
	}

	/* background: var(--bg-color-theme-A); */
}

.theme-color-B {
	--border-color: var(--heading-color-theme-B);
	--border-color-dark: var(--heading-color-theme-B-dark);

	@apply bg-[var(--bg-color-theme-B)] dark:bg-[var(--bg-color-theme-B-dark)];
	h1,
	h2,
	h3,
	h4 {
		@apply text-[var(--heading-color-theme-B)] dark:text-[var(--heading-color-theme-B-dark)];
	}

	p {
		@apply text-[var(--txt-color-theme-B)] dark:text-[var(--txt-color-theme-B-dark)];
	}
}

.theme-color-white {
	@apply bg-[var(--bg-color-theme-white)] dark:bg-[var(--bg-color-theme-white-dark)];
	h1,
	h2 {
		@apply text-[var(--heading-color-theme-white)] dark:text-[var(--heading-color-theme-white-dark)];
	}
}

#masthead {
	.main-nav-desktop,
	.main-nav-mobile {
		.menu-item,
		.social-icons {
			a {
				text-transform: uppercase;
				font-size: 1.25rem;
			}
		}

		.social-icons {
			/* gap: 1rem; */
			a {
				width: 40px;
				aspect-ratio: 1;
				display: flex;
				justify-content: center;
				align-items: center;
				background: var(--main-color);
				i {
					font-size: 1.25em;
				}
			}
		}
	}

	.main-header-wrap {
		--bg-color: rgba(255, 255, 255, 0.85);

		.main-nav-desktop-submenus-wrap {
			--paddTop: 1.8rem !important;
			.sub-menu-container {
				.sub-menu {
					background-color: var(--bg-color);
				}
			}
		}

		.main-nav-mobile {
			.primary-menu-wrapper {
				background-color: var(--bg-color);
			}
		}
	}

	.main-nav-desktop {
		.menu-item {
			a {
				font-size: clamp(1rem, 1.5vw, 1.25rem);
			}
		}
		.social-icons {
			transition: all 0.3s ease;
			padding-left: 2rem;
		}
	}

	.main-nav-mobile {
		.social-icons {
			padding-top: 1.7rem;
		}
		.menu-bt {
			margin-top: 1rem;
		}
	}
}

#masthead {
	> div {
		/* padding-top: 2.5rem !important; */
		@apply !pt-0 lg:!pt-[var(--desktop-space-top)];
	}
	.main-header-wrap {
		transition: all 0.3s ease;
		svg {
			transition: all 0.3s ease;
		}

		.main-nav-desktop-submenus-wrap {
			.submenu-custom {
				li,
				li a {
					font-weight: 400;
					font-size: 1.25rem;
					text-transform: uppercase;
				}

				a {
					position: relative;
					--bg-inset: 5px;
					&::after {
						content: "";
						display: block;
						position: absolute;
						inset: calc(var(--bg-inset) * -1);
						width: calc(100% + var(--bg-inset) * 2);
						height: calc(100% + var(--bg-inset) * 2);
						transition: all 0.3s ease;
						z-index: -1;
						@apply bg-white/0;
					}
					&:hover {
						&::after {
							@apply bg-white;
						}
					}
				}

				a:hover {
					color: var(--main-color);
					/* font-weight: 700; */
				}

				.submenu-parent {
					padding-left: 2ch;
					padding-bottom: 1ch;
					li,
					li a {
						text-transform: none;
					}
				}
			}
		}

		.main-header-content {
			transition: all 0.3s ease;
			.main-nav-desktop {
				.menu-item {
					a {
						transition: all 0.3s ease;
					}
				}
			}
		}
	}

	&.scrolledHeader {
		.main-header-wrap {
			color: white !important;
			.logo-brand {
				svg {
					width: var(--mobile-logo-brand-width);
					@apply py-[1rem];
				}
			}
			.main-header-content {
				height: var(--mobile-header-height) !important;
				.main-nav-desktop {
					.menu-item {
						a {
							font-size: 0.9rem;
							color: var(--main-color);
						}
					}
				}
			}
		}

		.main-nav-desktop {
			.social-icons {
				padding-left: 1.5rem;
				a {
					width: 30px;
				}
			}
		}
	}

	.menu-item {
		a {
			font-weight: 700;
		}
	}
}

.main-header-wrap {
	border: 0;
	background: var(--transparent-header-bg-color-light);
	.main-header-content {
		padding-left: 0 !important;
		@apply lg:!pr-[3.37rem];
		/* height: auto !important; */
		.logo-brand {
			@apply px-[1.5rem] lg:pl-[3.37rem] bg-[var(--main-color)] text-white;
			filter: none;
			svg {
				@apply lg:py-[1.75rem];
			}
		}
	}
	&.styled-by-section {
		.main-nav-desktop {
			.menu-item {
				a {
					color: white !important;
				}
			}
		}
	}
}

/*! SECTIONS SEPARATIONS - BORDERS */
.pct-section.separation-line {
	--line-dim: 1px;
	&::before,
	&::after {
		content: "";
		display: block;
		width: 100%;
		min-width: calc(var(--layout-max-width));
		max-width: 80%;

		@media only screen and (max-width: 1320px) {
			/* width: 50%; */
			max-width: calc(100% - 2 * var(--def-layout-x-padding));
			min-width: unset;
			/* max-width: calc(100% - 2 * var(--def-layout-x-padding)); */
		}

		margin: auto;
		height: var(--line-dim);
		@apply border-t-2 border-t-black dark:border-t-white;
	}

	&::before {
		padding-bottom: var(--default-section-vert-padding);
	}
	&::after {
		margin-top: var(--default-section-vert-padding);
	}

	&.full-width {
		> * {
			margin-left: auto !important;
			margin-right: auto !important;
		}
	}
}

.main-nav-mobile {
	.mega-menu-content {
		display: flex !important;
		width: 100%;
		.pct-tile-area-logo {
			height: 26px;
		}
	}
}

/*! HOME SLIDER STYLES */
body.home,
body:has(.home) {
	.slider {
		> div:first-of-type {
			figure {
				@apply flex items-end pt-[3rem] md:pt-0;
			}
		}

		p {
			font-size: clamp(1rem, 5vw, 1.1rem);
		}
	}
}

/*! BACKGROUNDS GRADIENTS */

.bg-primary {
	background-image: var(--gradient-highlight-primary), var(--gradient-primary) !important;
}

/*! IMAGE FILTERS */

.filter-blue {
	filter: sepia(1) hue-rotate(172deg) saturate(2.5);
}

/*! CUSTOM ICON/IMG SIZES */

.media-size-120 {
	--media-dim: 120px;
	figure,
	img,
	svg {
		height: var(--media-dim) !important;
		width: var(--media-dim) !important;
		max-width: var(--media-dim) !important;
		max-height: var(--media-dim);
	}
}

/*? DELETE ME SCROLLTRIGGER TESTS */

.spacer {
	display: grid;
	place-items: center;
	height: 100vh;
	background-color: white;
}

.spacer:nth-child(even) {
	/* background-color: red; */
	border: 1px solid slategray;
}

.animated-element {
	width: 300px;
	color: white;
	padding: 20px;
	display: flex;
	flex-direction: column;
	background-color: #1dab74;
	border-radius: 8px;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
	position: relative;
	translate: -100%;
	/* left: -200%; */
}

h2 {
	margin: 0;
	padding: 0;
}

.test {
	display: flex;
	/* flex-wrap: wrap; */
	flex-flow: row;

	figure {
		display: inline-flex;
	}
}

.heading-falling-down {
	user-select: none;
	pointer-events: none;
	/* height: 100vh; */
	position: relative;
	display: grid;
	place-content: center;
	/* background-color: indigo; */
	margin-top: 6rem;

	&:has(figure) {
		display: flex;
		/* flex-wrap: nowrap; */
		flex-flow: row;
		/* align-items: center; */
		figure {
			@apply brightness-0 dark:brightness-100;
			display: inline-flex;
			img {
				object-fit: unset !important;
			}
			/* display: inline-flex; */
			/* width: fit-content; */
			/* height: auto;
			max-width: unset !important;
			img {
				object-fit: unset !important;
			} */
			/* width: auto; */
		}
	}

	h2 {
		/* font-family: "Bebas Neue", Helvetica, Arial, sans-serif; */
		/* @apply text-[#110b34] dark:text-white; */
		font-kerning: none;
		/* user-select: none; */
		letter-spacing: clamp(0.1rem, 3vw, 1rem);
		font-size: clamp(2rem, 10vw, 12rem) !important;
		/* color: #110b34; */
		/* color: transparent; */
		/* -webkit-text-stroke: 3px white; */
	}

	/* img {
		position: absolute;
		z-index: -1;
		aspect-ratio: 1/1;
		object-fit: cover;
		width: 250px;

		&:nth-of-type(1) {
			top: 20%;
			left: 10%;
		}
		&:nth-of-type(2) {
			top: 10%;
			left: 30%;
		}
		&:nth-of-type(3) {
			top: 18%;
			left: 55%;
		}
		&:nth-of-type(4) {
			top: 25%;
			left: 80%;
			z-index: 1;
		}
	} */
}

.div1,
.div3 {
	height: 50vh;
}

.div1 {
	background-color: pink;
}

.div2 {
	background-color: salmon;
	&.pct-2cols {
		@media only screen and (max-width: 767px) {
			grid-template-columns: 1fr;
		}
	}
}

.square {
	width: 180px;
	height: 20vh;
	background-color: blue;
	z-index: 50;
	/* transition: all 1s ease; */
}

/* .square2 {
	margin-top: 100px;
	width: 200px;
	height: 100vh;
	background-color: fuchsia;
} */

.red {
	background-color: red;
}

/* [data-split_text] .line {
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
} */

.pointerXX {
	opacity: 0;
	background-color: yellow;
	border-radius: 50%;
	aspect-ratio: 1/1;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1ch;
}

.blurchars {
	font-size: clamp(3rem, 8vw, 8rem);
	text-align: center;
}

[data-blur_chars="in"] {
	opacity: 0;
}

section.will-pin {
	display: flex;
	padding: 20vh 0;
	/* flex-flow: column;
	justify-content: center;
	height: 100vh; */
}

.test-anim-bg {
	height: 50vh;
	border: 1px solid black;
}

/* :has(> canvas.anim-bg) {
	width: 100%;
	height: 100%;
} */

canvas.anim-bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100% !important;
	height: 100% !important;
	max-width: unset !important;
	pointer-events: none;
	/* z-index: -1; */
}

/*! SLIDER VIDEO BACKGROUND */

.slider.has-video-bg {
	position: relative;
	color: white;
	h1 {
		font-size: clamp(3.2rem, 10vw, 9rem);
		color: white;
		text-align: center;
		margin-bottom: 0.2ch;
		opacity: 0;
	}

	p {
		text-align: center;
	}

	.slider-cover:not(.block-editor-block-list__block) {
		display: block;
		position: absolute;
		/* opacity: 0; */
		inset: 0;
		background-color: black;
		max-width: unset !important;
		width: 100vw !important;
		height: 100vh;
	}
}

.mz-dot-char {
	--dot-color: var(--main-color);
	--dot-wave-width: 1px;
	position: relative;
	z-index: 3;
	display: inline-block;
	width: calc(1ch * 0.3);
	aspect-ratio: 1;
	margin-left: 0.1ch;

	/* background-color: currentColor; */
	background-color: var(--dot-color);
	border-radius: 9999px;

	&::before {
		content: "";
		position: absolute;
		display: block;
		width: calc(1ch * 0.3);
		aspect-ratio: 1;
		border: var(--dot-wave-width) solid var(--dot-color);
		border-radius: 9999px;
		animation: ping 2s ease-out infinite;
	}

	&::after {
		content: "";
		position: absolute;
		display: block;
		width: calc(1ch * 0.3);
		aspect-ratio: 1;
		border: var(--dot-wave-width) solid var(--dot-color);
		border-radius: 9999px;
		animation: ping 2s ease-out infinite 0.5s;
	}

	&.filled {
		&::before,
		&::after {
			background-color: var(--dot-color);
		}
	}
}

/*! FICHA DE ÁREA  */

:is(:where(.temp-body-bg) .solutions-grid) {
	h2 {
		@apply text-header;
		/* color: white; */
	}

	p {
		@apply text-content;
	}
}

.area-intro {
	> :first-child {
		figure {
			display: flex;
			justify-content: center;
		}
	}

	svg {
		width: 100%;
		max-height: 300px;
		opacity: 0.4;
	}
}

.animated-grid {
	--padding: calc(var(--card-padding) * 0.5);
	display: grid;
	/* grid-template-columns: repeat(4, 1fr); */
	grid-template-columns: repeat(auto-fit, minmax(290px, auto));
	gap: calc(var(--def-border-radius) * 5.5);

	a:has(.grid-tile) {
		pointer-events: none !important;
		border-radius: var(--def-border-radius);
		overflow: clip;
		padding-bottom: 0 !important;
	}

	@media (any-hover: hover) {
		a:has(.grid-tile) {
			pointer-events: all !important;

			.grid-content img {
				scale: 1;
			}
			&:hover {
				.grid-content img {
					scale: 1.3;
				}
			}

			& > * {
				pointer-events: none;
			}
		}
	}

	.grid-tile {
		/* background-color: #505050; */
		display: flex;
		height: 100%;
		@apply bg-white dark:bg-slate-800 text-black dark:text-white;
		/* border-radius: var(--def-border-radius);
		overflow: clip; */
		/* color: white; */

		.grid-content {
			height: 100%;
			display: flex;
			flex-flow: column;
			justify-content: space-between;

			> div:first-of-type {
				figure {
					width: 100%;
					aspect-ratio: 1.6/0.9;
					overflow: clip;
					background: var(--card-gradient);
				}

				img {
					transition: all 1s cubic-bezier(0.2, 1, 0.3, 1);
					/* padding: 0.3rem; */
					object-fit: cover;
				}
				> div:last-of-type {
					padding: var(--padding);
				}
			}

			> div:last-of-type {
				padding: var(--padding);
			}

			h3 {
				padding-top: 0;
				font-size: clamp(1.3rem, 5vw, 2rem);
			}

			.wp-block-buttons {
				margin-top: 0;
				padding-top: 0 !important;
				.wp-element-button {
					pointer-events: all;
					font-size: 1rem;
				}
			}

			@media (any-hover: hover) {
				.wp-block-buttons {
					display: none;
				}
			}
		}
	}
}

.wpcf7 {
	padding-top: calc(var(--def-layout-x-padding) * 0.5);
}

/*! SINGLE POSTS STYLES */

body.single-post {
	.post {
		.entry-content {
			padding: var(--default-section-vert-padding) 0;
		}
	}
}

body.single-webinar-ondemand,
body.single-ebook {
	.entry-header-content:has(.above-header) {
		display: flex;
		flex-flow: column;
	}

	.above-header {
		z-index: 5;

		figure {
			max-width: 150px;
		}
	}

	.above-header:not(:has(figure)) {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: fit-content;
		text-transform: uppercase;

		border: 1px solid white;

		@apply rounded-[999px] px-[1.3rem] py-[6px] border-white text-white mb-2;
	}

	.pct-2cols.has-webinar-request-form {
		> *:first-child {
			grid-row: 1 / 3;
		}

		> *:nth-child(2) {
			h3 {
				padding-top: 0;
			}
		}
	}

	.restricted-video {
		padding-top: calc(var(--default-section-vert-padding) * 0.5);
	}
}

/*! DATE FOR EVENT CPT */
card.fecha {
	--padding-x: 1rem;
	--padding-y: 1rem;
	--color: black;
	--border-size: 6px;
	font-size: 1.5rem !important;
	border-width: var(--border-size);
	@apply text-[var(--color)] border-[var(--color)];
	display: grid;
	grid-template-columns: 1fr;
	max-width: fit-content !important;
	height: fit-content;
	/* width: fit-content !important; */
	/* border: 2px solid white; */
	/* padding: var(--padding-y); */

	.short-date {
		display: flex;
		flex-flow: column;

		padding: var(--padding-y) 0;
		> * {
			line-height: 1;
			display: flex;
			justify-content: center;
			line-height: center;
			padding: 0 var(--padding-x);
		}

		.dia {
			/* font-size: clamp(1.6em, 8vw, 3em); */
			font-size: clamp(2em, 8vw, 3em);
			font-weight: bold;
		}

		.mes {
			text-transform: uppercase;
			font-weight: bold;
			font-size: clamp(1.2em, 6vw, 1.6em);
		}

		.year {
			margin-top: var(--padding-y);
			border-top: var(--border-size) solid var(--color);
			padding-top: var(--padding-y);
			font-weight: bold;
			font-size: clamp(1em, 6vw, 1.3em);
			/* font-size: 1.3em; */
		}
	}

	&.show-hours {
		grid-template-columns: 33% 1fr;
		max-width: 600px !important;

		.extended-date {
			padding: var(--padding-y) var(--padding-x);
			border-left: var(--border-size) solid var(--color);
			display: flex;
			flex-flow: column;
			justify-content: center;
			align-items: center;
			> * {
				line-height: 1;
			}
			.location {
				display: flex;
				text-align: center;
				text-wrap: balance;
				text-transform: uppercase;
				font-weight: 600;
				font-size: clamp(1.4em, 7vw, 1em);
				letter-spacing: 0px;
				padding-bottom: 0.5rem;
			}
		}
	}
}

.slider:has(card.fecha) {
	card.fecha {
		--color: white;
	}
}

:root.dark {
	card.fecha,
	.apply-header {
		--color: var(--main-color);
	}
}

/*! EVENT LANDING STYLES */

body.single-evento {
	#content #contenido {
		h2 {
			font-size: clamp(2rem, 5vw, 4rem);
		}
	}
}

.event-landing-apply {
	--color: black;
	--border-size: 6px;
	--padding-x: 1rem;
	--padding-y: 1rem;

	padding-bottom: var(--def-layout-x-padding);

	.content {
		/* background: indianred; */

		.apply-header {
			/* margin-bottom: 1rem; */
			/* figure {
				img {
					max-height: 60px;
				}
			} */

			.apply-header-description {
				display: flex;
				justify-content: center;
				align-items: center;
				@apply bg-white dark:bg-white/10;
				border: var(--border-size) solid var(--color);
				border-bottom-width: 0;

				font-weight: bold;
				font-size: clamp(1.2em, 6vw, 1.6em);
				padding: var(--padding-y) var(--padding-x);
			}

			&:has(.has-logo) {
				margin-bottom: var(--padding-y);

				.apply-header-description {
					padding: 0;
					@apply bg-transparent dark:bg-white border-[var(--color)] dark:!border-white dark:border-b-white;
					border: unset !important;
					figure {
						width: 100%;
						padding: 1rem;
					}

					&.is-webinar {
						@apply bg-transparent dark:bg-transparent;
						figure {
							@apply brightness-0 dark:brightness-100;
						}
					}
				}
			}
		}

		card {
			@apply bg-white dark:bg-white/10;
		}

		.address,
		.precio {
			display: flex;
			flex-flow: column;
			align-items: center;
			border-width: var(--border-size);
			border-top: 0;
			@apply border-[var(--color)] dark:border-[var(--main-color)];
			padding: var(--padding-y) var(--padding-x);
			strong {
				text-transform: uppercase;
			}

			p {
				text-align: center;
			}

			p:first-of-type {
				margin-bottom: 0.5rem;
			}
			p:last-of-type {
				margin-bottom: 0;
			}
		}

		.precio {
			border: 0 !important;
			background: transparent;
		}

		.wp-block-buttons {
			padding-top: 0.5rem;
		}
	}
}

.list-icons {
	margin-top: var(--def-layout-x-padding);
	display: flex;
	flex-flow: column;
	gap: 1.5rem;
	container-type: inline-size;
	container-name: li-icons;

	> * {
		display: grid;
		grid-template-columns: max-content 1fr;
		align-items: center;
		gap: 1rem;

		@apply bg-black/5 dark:bg-white/10 rounded-[var(--def-border-radius)] p-[1rem];

		/* @apply bg-yellow-600/50; */
		figure {
			max-width: unset;
			min-width: 40px;
			align-self: center;
		}

		> * {
			justify-content: flex-start;
			text-align: left !important;
			align-items: center;
			font-weight: 400;
		}

		h2,
		h3,
		h4 {
			padding-top: 0;
			font-size: clamp(1.3rem, 4vw, 1.4rem);
			line-height: 1.25;
			@apply text-black dark:text-white;
		}
	}
}

@container li-icons (width < 460px) {
	.li-item {
		grid-template-columns: 1fr;
	}
}

/* .pct-section > h2 {
	width: fit-content !important;
} */

/*! SLIDERS STYLES (SWIPER) */

.slider-webinars {
	width: 100vw !important;
	max-width: unset !important;
	height: auto;
	.swiper-slide {
		img {
			width: 100% !important;
		}
		a {
			/* pointer-events: none; */
			cursor: grab;
		}

		&.swiper-slide-active {
			a {
				pointer-events: all;
				cursor: pointer;
			}
		}
	}
}

/*! Cifras Mercanza */
.cifras {
	margin-bottom: clamp(4rem, 15vw, 6rem);
}

/*! Horizontal scroll QlikAcademy @ home */
.qlikacademy {
	--padding-x: 4rem;
	.qlikacademy-logo {
		padding: 2rem var(--padding-x);
		@apply bg-black dark:bg-white/20;
	}

	.sub-logo {
		padding-top: calc(var(--def-layout-x-padding) * 0.5);
		padding-left: var(--padding-x);
		font-size: 1.5em;
	}
}

[data-scrollhorizontal] {
	.horiz-scroll {
		margin-top: var(--def-layout-x-padding) !important;
		gap: 2rem;
		padding-right: var(--def-layout-x-padding);
		section {
			display: grid;
			grid-template-columns: 1fr var(--def-layout-x-padding);
			/* height: 100% !important; */

			> div {
				display: flex !important;
				height: 100% !important;
				padding: var(--def-layout-x-padding);
				@apply bg-white dark:bg-white/20 rounded-[var(--def-border-radius)];

				h4 {
					padding-top: 0;
					font-size: clamp(1.3rem, 5vw, 1.8rem);
					font-weight: bold;
					line-height: 1.1;
					margin-bottom: 1ch;
				}

				p {
					@media only screen and (max-width: px) {
					}
				}
			}

			&:last-of-type {
				margin-right: var(--def-layout-x-padding);
				/* background-color: red; */
			}
		}
	}
}

.pct-faqs.faqs-solution {
	max-width: var(--layout-max-width) !important;
	margin-top: calc(var(--default-section-vert-padding) * 0.75);
}

.pinned-col-right {
	--col-gap: var(--card-padding);
	gap: var(--card-padding);

	.col-pinned {
		padding-left: var(--col-gap);
		@apply border-l-2 border-l-[var(--border-color)] dark:border-l-[var(--border-color-dark)];

		@media only screen and (max-width: 768px) {
			@apply border-l-0;
			padding-left: 0;
		}
		/* border-left: 1px solid red; */

		.card:first-of-type {
			margin-top: 0;
		}

		.card:not(:last-of-type) {
			margin-bottom: var(--col-gap);
		}

		h3,
		h4 {
			padding-top: 0;
		}

		h3 {
			margin-bottom: 0 !important;
		}

		h4 {
			font-size: clamp(1.2rem, 5vw, 2rem);
			font-weight: 500;
		}
	}
}

/*! ORDERED LISTS CUSTOM STYLES */
.ordered-list {
	padding-top: var(--def-layout-x-padding);
	/* --numSize: 1.5rem; */
	/* --numberedColor: var(--heading-color); */
	--numberedColor: var(--main-color-darker);
	--numberedBgColor: var(--main-color);
	--dim: 2rem;
	--padding: 1.5em;

	row-gap: calc(var(--dim) * 1.5);

	> * {
		align-items: center;
		p {
			margin-bottom: 0;
		}
	}

	> *::before {
		@apply bg-[var(--main-color)] text-[var(--numberedColor)];
	}
}

/*! FORM MULTI CHECKBOX */

.wpcf7:has(.multi-checkbox) {
	padding-top: 0;
}

.pct-form-pasti:has(.multi-checkbox) {
	max-width: unset;
}

.multi-checkbox {
	/* --form-field-border-color: var(--main-color-third);
	--form-field-focus-border-color: var(--link-color); */
	padding: calc(var(--def-layout-x-padding) * 0.5);
	@apply bg-white dark:bg-white/5 border-2 border-[var(--form-field-border-color)] dark:border-white/20 rounded-[var(--def-border-radius)];

	.group-title {
		display: block;
		font-weight: bold;
		padding-bottom: 1ch;
	}

	br {
		display: none !important;
	}

	> p {
		margin-bottom: 0;
	}

	.wpcf7-form-control-wrap {
		margin: 0 !important;
		.wpcf7-form-control.wpcf7-checkbox {
			display: flex;
			flex-flow: column;
			align-items: flex-start;
			gap: 0.5ch;
		}
	}

	.wpcf7-list-item {
		margin-left: 0;
		.wpcf7-list-item-label {
			font-size: 16px;
			line-height: 1.2;
		}
	}
}

/*! Left Pinned right scroller cards with image */

.grid-left-pinned-scroller {
	> div {
		&:not(:last-of-type) {
			margin-bottom: var(--default-section-vert-padding);
		}
		> figure {
			img {
				width: 100%;
			}
		}
		> .wp-block-group {
			padding: var(--def-layout-x-padding);
			p {
				font-size: 1.2em;
			}
		}
	}
}

.card.dev-languages {
	display: flex;
	flex-flow: row;
	flex-wrap: wrap;
	justify-content: center;
	gap: var(--card-padding);
	background-color: white;
	> figure {
		width: fit-content;
	}
}

[data-swiper] {
	.swiper-slide {
		border-radius: calc(var(--def-border-radius) * 2);
		overflow: clip;

		img {
			border-radius: unset !important;
			overflow: auto;
		}
	}

	.swiper-slide:has(svg) {
		display: grid;
		grid-template-columns: 1fr;

		> * {
			img {
				translate: 0 -2px;
			}
		}
	}
}

#top-menu {
	.social-icons {
		.social-item {
			i {
				font-size: 0.9rem;
			}
		}
	}
}

#footer {
	/* @apply bg-gradient-footer; */
	/* background: rgb(255, 0, 0); */
	.footer-container .pct-section {
		padding-bottom: 0;
		padding-top: 0;
	}

	.footer-content {
		@apply !pt-[var(--default-section-vert-padding)];

		a {
			color: white !important;
		}

		ul {
			width: fit-content;
			li {
				font-size: 1rem;
				&:not(:last-child) {
					padding-bottom: 0.5ch;
				}
			}
			ul {
				padding-top: 0.5ch;
				list-style: initial;
				padding-left: 1.2ch;
			}

			&:not(:last-child):not(:nth-child(2)) {
				padding-bottom: 2rem;
			}
		}

		.container {
			container: footer-content;
			container-type: inline-size;
			display: grid;
			max-width: unset;

			.pct-cols-footer {
				display: grid;
				grid-template-columns: repeat(4, 1fr);
				column-gap: 2rem;
				/* width: fit-content; */
				img {
					max-width: 210px;
					width: 100%;
					filter: contrast(0) brightness(10.5);
				}
			}
		}
	}

	.social-icons {
		padding-top: 0.75rem;
		.social-item {
			padding: 0 0.3rem;
			i {
				font-size: 2em;
			}
		}
	}
}

@container footer-content (width < 1000px) {
	#footer .footer-content .container .pct-cols-footer {
		grid-template-columns: repeat(3, 1fr);
		figure {
			grid-column: 1 / -1;
			display: flex;
			/* align-items: center; */
			/* justify-content: center; */
			padding-bottom: var(--def-layout-x-padding);
		}
	}
}

@container footer-content (width < 838px) {
	#footer .footer-content .container .pct-cols-footer {
		grid-template-columns: repeat(2, 1fr);
	}
}

@container footer-content (width < 585px) {
	#footer .footer-content .container .pct-cols-footer {
		grid-template-columns: 1fr;

		ul {
			&:nth-of-type(2) {
				padding-top: 1ch;
			}
		}
	}
}

body.home .sections .pct-section#contacto {
	margin-bottom: calc((var(--default-section-vert-padding) + 50px) * -2);
}

#footer .copyright-container {
	@apply py-[3rem];
	/* margin-top: 3rem; */
	/* @apply bg-gradient-footer-3; */
	background: var(--main-color);

	.pct-copyright {
		align-items: flex-start;
		a {
			color: white !important;
		}
	}

	.copy {
		/* @apply px-[var(--def-layout-x-padding)]; */
	}
}

.card-contact {
	h3 {
		padding-top: 0;
	}
	@apply text-[var(--txt-color)] bg-white rounded-[var(--def-border-radius)] p-[var(--card-padding)] shadow-card;
}

.contact-list {
	li:not(:last-of-type) {
		padding-bottom: 0.5rem;
	}

	/*! Links with ICONS automatically by href content */

	a:not(.social-item):not(.pictau-logo) {
		--col-gap: 1ch;
		@apply !text-[var(--txt-color)] hover:!text-[var(--main-color)];
		background: none !important;
		display: flex;
		column-gap: var(--col-gap);
		width: fit-content;
		&::before {
			display: flex;
			min-width: 2ch;
			justify-content: center;
			align-items: center;
			color: white;
			background-color: var(--main-color);
			border-radius: 50%;
			aspect-ratio: 1;
			height: fit-content;
			font-family: "pictauicons";
			font-size: 0.9rem;
		}

		&[href*="mailto:"] {
			&::before {
				content: "\f0e0";
			}
		}

		&[href*="tel:"] {
			&::before {
				content: "\f095";
			}
		}

		&[href*="/maps/place"] {
			&::before {
				content: "\f041";
			}
		}

		&[href*=".com"] {
			&::before {
				content: "\f0ac";
			}
		}
	}
}

/*! ORDERED (NUMBER) LIST */
.ordered-list {
	--numSize: 1rem;
	--numberedColor: white;
	--numberedBgColor: var(--main-color);
	--dim: 2em;
	--padding: 1.2em;
	--connectLineColor: var(--connectedcolor, var(--numberedBgColor));
}

/*! CUSTOM RESPONSIVE TABLES */

.pct-table {
	&.table-5cols {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		justify-content: center;
		align-items: center;
		gap: 0.2rem;

		.header {
			background-color: var(--main-color);
			color: white;
			font-weight: bold;
		}

		> * {
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 0.5rem;
			height: 100%;
			background-color: white;
			text-align: center;
		}
	}
}

.pct-table-resp {
	--gap: 0.2rem;
	margin: var(--def-layout-x-padding) 0;
	&.table-5cols {
		display: grid;
		grid-template-columns: 1fr;
		row-gap: var(--gap);

		.row {
			display: grid;
			grid-template-columns: repeat(5, 1fr);
			justify-content: center;
			align-items: center;
			gap: var(--gap);

			.data {
				display: flex;
				gap: var(--gap);
				height: 100%;
				> * {
					display: flex;
					align-items: center;
					justify-content: center;
					padding: 0.5rem;
					height: 100%;
					background-color: white;
					text-align: center;
					margin-bottom: 0;
				}

				.header {
					background-color: var(--main-color);
					color: white;
					font-weight: bold;
					min-height: 10ch;
				}

				&:first-of-type {
					:not(.header) {
						background: #ffc9cd;
						font-weight: bold;
					}
				}
			}

			&:not(:first-of-type) {
				.header {
					display: none;
				}
			}
		}
	}

	@media only screen and (max-width: 768px) {
		--gap: 0.5rem;
		.row {
			grid-template-columns: 1fr !important;

			&:not(:last-of-type) {
				margin-bottom: 3rem;
			}

			.data {
				gap: 0 !important;
				.header {
					min-height: unset !important;
				}

				&:first-of-type {
					:not(.header) {
						background: white !important;
					}
				}
			}

			&:not(:first-of-type) {
				.header {
					display: flex !important;
				}
			}
		}
	}
}

.pct-list-b {
	li {
		font-size: clamp(1.1rem, 5vw, 1.4rem);
	}
}
